<template>
  <v-content id="schedule_container">
    <v-snackbar v-model="snackbar" :timeout="1000 * 30" color="purple darken-4" dark top>
      Ahora proceda a pagar haciendo click en el botón &nbsp;
      <strong>Pagar</strong>
      <v-btn color="white" flat @click="snackbar = false">Cerrar</v-btn>
    </v-snackbar>
    <v-container fluid id="schedule_subcontainer">
      <h1
        class="display-3 text-xs-center wow rubberBand"
        style="color: #E5D4ED"
      >Formulario Agendamiento</h1>
      <v-form id="schedule_form">
        <v-container fluid grid-list-xl>
          <v-layout row wrap>
            <v-flex offset-md1 md4>
              <v-card>
                <v-alert
                  :value="service_data.price!=0"
                  type="info"
                >Precio: {{ service_data.price }} CLP</v-alert>
                <v-card-text>
                  <v-select
                    @input="input_service"
                    :items="services"
                    v-model="service_selected"
                    no-data-text="No hay servicios registrados"
                    label="Seleccione un servicio"
                    style="width: 100%"
                  ></v-select>

                  <v-select
                    v-if="service_data.agendable"
                    id="turn_picker"
                    v-model="turn_selected"
                    :items="available_turns"
                    no-data-text="No hay turnos disponibles para la fecha seleccionada"
                    label="Seleccione una hora"
                    style="width: 100%"
                  ></v-select>
                </v-card-text>
                <v-card-actions>
                  <v-dialog
                    v-model="modalShow"
                    width="500"
                    :disabled="first_form_uncomplete || loadAppointment"
                  >
                    <v-btn
                      :disabled="first_form_uncomplete"
                      slot="activator"
                      color="secondary"
                      :loading="loading || loadAppointment"
                    >Agendar</v-btn>

                    <v-card>
                      <v-card-text>
                        <v-form>
                          <v-text-field
                            :value="service_data.title"
                            disabled
                            required
                            label="Titulo del servicio"
                          ></v-text-field>
                          <v-text-field
                            :value="service_data.description"
                            disabled
                            label="Descripción del servicio"
                          ></v-text-field>
                          <v-text-field
                            :value="service_data.price + ' CLP'"
                            disabled
                            required
                            label="Precio del servicio"
                          ></v-text-field>
                          <v-text-field
                            v-if="service_data.agendable"
                            :value="date"
                            disabled
                            required
                            label="Fecha de la cita"
                          ></v-text-field>
                          <v-text-field
                            v-if="service_data.agendable"
                            :value="appointment_time_formatted"
                            disabled
                            required
                            label="Hora de la cita"
                          ></v-text-field>
                          <v-text-field v-model="client.name" required label="Nombre del cliente"></v-text-field>
                          <v-text-field
                            v-model="client.lastname"
                            required
                            label="Apellido del Cliente"
                          ></v-text-field>

                          <v-text-field v-model="client.email" required label="Email del cliente"></v-text-field>
                          <v-text-field
                            v-model="client.tel"
                            id="tel"
                            placeholder="Numero de telefono"
                            required
                            type="tel"
                          ></v-text-field>
                          <v-select
                            :items="payment_methods"
                            v-model="payment_method"
                            no-data-text="No hay métodos de pago disponibles"
                            label="Seleccione un método de pago"
                          ></v-select>
                        </v-form>
                      </v-card-text>

                      <v-divider></v-divider>

                      <v-card-actions>
                        <v-layout>
                          <v-flex justify-space-around d-flex>
                            <v-btn class="white--text" color="red" @click="modalShow=false">Cancelar</v-btn>
                            <v-btn
                              :disabled="second_form_uncomplete"
                              @click="submit_form"
                              color="blue"
                              class="white--text"
                              :loading="loading"
                            >Aceptar</v-btn>
                          </v-flex>
                        </v-layout>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="purple darken-4"
                    dark
                    :disabled="!payment_url"
                    :class="payment_url ? 'animated infinite heartBeat' : ''"
                    style="animation-duration: 2s; animation-timing-function: cubic-bezier(0.9, 0.04, 0, 1.04);"
                    @click="makePayment"
                  >Pagar</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
            <v-flex offset-md2 md4 v-if="service_data.agendable">
              <v-date-picker
                full-width
                v-model="date"
                :allowed-dates="allowedDates"
                @input="input_date"
                color="purple darken-4"
                :min="moment().tz('America/Santiago').format('YYYY-MM-DD')"
                :max="moment().add(6,'M').endOf('month').format('YYYY-MM-DD')"
                locale="es-es"
                style="background-color: white"
              ></v-date-picker>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </v-container>
  </v-content>
</template>

<script>
import { getNextTurn, getStartTimeFromIndex } from "../helpers/utils";
var timezone = require("moment-timezone");
var moment = require("moment");
import swal from "sweetalert2";

export default {
  name: "Agendar",
  data() {
    return {
      service_selected: null,
      service_data: {
        price: 0,
        title: "",
        agendable: false
      },
      services: [],
      turn_selected: null,
      available_turns: [],
      moment: moment,
      date: moment()
        .tz("America/Santiago")
        .format("YYYY-MM-DD"),
      modalShow: false,
      client: {
        name: "",
        lastname: "",
        email: "",
        tel: ""
      },
      payment_method: 1,
      payment_methods: [
        { value: 1, text: "Webpay" },
        { value: 2, text: "Servipag" },
        { value: 3, text: "Multicaja" }
      ],
      payment: {
        url: "",
        token: ""
      },
      loading: false,
      loadAppointment: false,
      snackbar: false
    };
  },
  methods: {
    allowedDates(val) {
      let dateval = new Date(val);
      dateval.setTime(
        dateval.getTime() + dateval.getTimezoneOffset() * 60 * 1000
      );
      let now = new Date();
      now.setHours(0, 0, 0, 0);
      return dateval.getTime() >= now.getTime();
    },
    input_date() {
      this.loading = true;
      axios.get("/api/appointment/available/" + this.date).then(response => {
        this.available_turns = response.data.available;
        this.loading = false;
      });
      this.payment = {
        url: "",
        token: ""
      };
      this.turn_selected = null;
      this.modalShow = false;
    },
    input_service() {
      this.loading = true;
      if (this.service_selected == null) {
        this.loading = false;
        this.service_data = {
          price: 0,
          title: ""
        };
      } else {
        axios.get("/api/services/" + this.service_selected).then(response => {
          this.loading = false;
          this.service_data = response.data.service;
        });
      }
    },
    to_form_two() {
      if (!this.first_form_uncomplete && !this.loadAppointment) {
        this.modalShow = true;
      }
    },
    submit_form() {
      this.modalShow = false;
      this.loadAppointment = true;
      let buffer_data = {
        client_name: this.client.name,
        client_lastname: this.client.lastname,
        client_email: this.client.email,
        tel: this.client.tel,
        appointment_date: this.date,
        appointment_turn: this.turn_selected,
        service_id: this.service_selected,
        payment_url: ""
      };
      axios
        .post("/api/buffer/create", buffer_data)
        .then(buffer => {
          this.loading = true;
          let payment_data = {
            id: buffer.data.buffer.id,
            appointment_date: this.date,
            appointment_turn: this.turn_selected,
            price: this.service_data.price,
            email: this.client.email,
            payment_method: this.payment_method
          };
          axios
            .post("/api/flow/payment", payment_data)
            .then(response => {
              let payment_response = JSON.parse(response.data.payment);
              if (payment_response.code == 1620) {
                this.loading = false;
                this.loadAppointment = false;
                swal("Lo sentimos", "El email es inválido", "error");
              } else if (payment_response.code == 1605) {
                this.loading = false;
                this.loadAppointment = false;
                swal(
                  "Lo sentimos",
                  "Hubo un problema con el servidor",
                  "error"
                );
              } else {
                this.payment = payment_response;
                this.loading = false;
                this.snackbar = true;
                this.loadAppointment = false;
                this.client = {
                  name: "",
                  lastname: "",
                  email: "",
                  tel: ""
                };
              }
            })
            .catch(error => {
              this.payment = {
                url: "",
                token: ""
              };
              this.loading = false;
              this.loadAppointment = false;
            });
        })
        .catch(errorbuffer => {
          this.loading = false;
          this.loadAppointment = false;
        });
    },
    makePayment() {
      this.popupWindow = window.open(
        `${this.payment.url}?token=${this.payment.token}`,
        "popUpWindow",
        "height=500,width=500,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes"
      );
      this.snackbar = false;
      this.payment = {
        url: "",
        token: ""
      };
    }
  },
  created() {
    axios.get("/api/services/select").then(response => {
      this.services = response.data.services;
    });
    this.input_date();

    window.setInterval(() => {
      if (this.date != null && !this.modalShow) {
        this.input_date();
      }
    }, 1000 * 240);
  },
  computed: {
    first_form_uncomplete: function() {
      return Boolean(
        this.service_selected === "" ||
          (this.turn_selected === "" && this.service_data.agendable) ||
          (this.service_selected === null ||
            (this.turn_selected === null && this.service_data.agendable))
      );
    },
    appointment_time_formatted: function() {
      return this.turn_selected == null
        ? "none"
        : `${getStartTimeFromIndex(
            this.turn_selected
          )} - ${getStartTimeFromIndex(parseInt(this.turn_selected) + 1)}`;
    },
    second_form_uncomplete: function() {
      let email_pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return (
        this.client.email.search(email_pattern) == -1 ||
        [1, 2, 3].indexOf(this.payment_method) == -1 ||
        this.client.name == ""
      );
    },
    payment_url() {
      let emptyValues = [null, undefined, ""];
      if (
        emptyValues.indexOf(this.payment.url) == -1 &&
        emptyValues.indexOf(this.payment.token) == -1
      ) {
        return `${this.payment.url}?token=${this.payment.token}`;
      } else {
        return false;
      }
    }
  }
};
</script>

<style scoped>
#button_container_modal {
  display: flex;
  justify-content: space-between;
}
#payment_frame {
  background-color: white !important;
  width: 90vw;
  height: 90vh;
  border: 0;
  -webkit-box-shadow: 2px 4px 98px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 4px 98px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 4px 98px -3px rgba(0, 0, 0, 0.6);
  margin-bottom: 10vh;
  border-radius: 15px;
}

#iframe_container {
  display: flex;
  justify-content: center;
}

.v-fade {
  display: inherit; /* override v-show display: none */
  transition: opacity 1s;
}

.v-fade[style*="display: none;"] {
  opacity: 0;
  pointer-events: none; /* disable user interaction */
  user-select: none; /* disable user selection */
}

.blur {
  filter: blur(5px);
}

#loading_message {
  z-index: 999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
</style>
