<template>
  <div>
    <header>
      <v-toolbar color="#222222" dark dense fixed clipped-left app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title class="mr-5 align-center">
          <span class="title">Tarot Janet</span>
        </v-toolbar-title>
      </v-toolbar>
    </header>
    <aside>
      <v-navigation-drawer v-model="drawer" fixed clipped app dark>
        <v-list dense>
          <v-list-tile
            v-for="(item, index) in items"
            :key="item.text"
            @click="drawer_action(index)"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </aside>
  </div>
</template>

<style>
#navbar {
  background-color: #222222;
}
</style>

<script type="text/javascript">
export default {
  name: "app-header",
  data() {
    return {
      drawer: null,
      items: [
        {
          title: "Inicio",
          icon: "home",
          route: "/"
        },
        {
          title: "Agendar servicios",
          icon: "account_box",
          route: "/agendar"
        },
        {
          title: "Información",
          icon: "room_service",
          route: "/servicios"
        },
        {
          title: "Admin Panel",
          icon: "dashboard",
          route: "/admin/",
          admin: true
        }
      ]
    };
  },
  methods: {
    drawer_action(index) {
      if (!this.items[index].admin) {
        this.$router.push(this.items[index].route);
      } else {
        window.location.href = this.items[index].route;
      }
    }
  }
};
</script>
