<template>
  <v-content>
    <v-container fluid fill-height justify-center align-center>
      <section>
        <div>
          <particlesJS/>
          <v-layout wrap align-center>
            <v-flex xs12 md4 class="contacto_texts">
              <p
                class="white--text wow fadeIn"
              >Tarot en linea, via whatsapp no te muevas de tu casa.</p>
              <p
                class="white--text wow fadeIn"
                data-wow-delay="1s"
              >Profesional con 30 años de experiencia, más de 1000 clientes satisfechos me avalan.</p>
            </v-flex>
            <v-flex xs12 md4 text-xs-center id="avatar_container">
              <v-avatar :size="avatar_size">
                <img src="/img/a.jpg" class="wow fadeIn" data-wow-delay="4s">
              </v-avatar>
            </v-flex>
            <v-flex xs12 md4 class="contacto_texts">
              <p
                class="white--text wow fadeIn"
                data-wow-delay="2s"
              >Muchos ya han comprobado la eficacia del método a distancia.</p>
              <p
                class="white--text wow fadeIn"
                data-wow-delay="3s"
              >Promoción Especial: ${{ special_offer_price | number}} la sesión.</p>
            </v-flex>
          </v-layout>
        </div>
      </section>
    </v-container>
  </v-content>
</template>

<script>
import particlesJS from "./ParticlesJS";

export default {
  name: "Landing",
  components: { particlesJS },
  data() {
    return {
      avatar_size: 320,
      special_offer_price: 10000
    };
  },
  created() {
    axios.get("/api/services/1").then(response => {
      this.special_offer_price = response.data.service.price;
    });
  },
  filters: {
    number(value) {
      return Intl.NumberFormat().format(value);
    }
  }
};
</script>

<style>
.contacto_texts {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

#particles-js canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  right: 100vw;
  bottom: 100vh;
  top: 0;
}

@media (max-width: 959px) {
  #avatar_container {
    margin: 2em 0;
  }

  .contacto_texts {
    height: auto;
    display: block;
  }
}
</style>
