<template id="p">
  <v-app id="main">
    <router-view :token="this.token" :payment="this.payment"></router-view>
  </v-app>
</template>

<style>
#main {
  display: flex;
  flex-direction: column;
}
</style>

<script>
import store from "../store/";
export default {
  name: "main-payment",
  props: ["token", "payment"],
  store,
  data() {
    return {};
  }
};
</script>
