<template id="p">
  <v-app id="main">
    <Header ref="navbar"></Header>
    <router-view></router-view>
  </v-app>
</template>

<style>
#main {
  display: flex;
  flex-direction: column;
}
</style>

<script>
import Header from "./Header";
import store from "../store/";
export default {
  name: "main-app",
  store,
  components: {
    Header
  },
  data() {
    return {
      drawer: false
    };
  }
};
</script>
