<template>
  <v-content id="v-content" class="wow fadeIn" data-wow-delay="2s">
    <v-fab-transition>
      <v-btn
        v-show="options.active > 0"
        color="white"
        light
        fab
        small
        top
        right
        fixed
        @click.capture="handleButton"
        v-touch:tap.capture="handleButton"
        id="upButton"
        class="navigationButton"
      >
        <v-icon>keyboard_arrow_up</v-icon>
      </v-btn>
    </v-fab-transition>
    <v-fab-transition>
      <v-btn
        v-show="options.active < servicios.length - 1"
        color="white"
        light
        fab
        small
        bottom
        right
        fixed
        @click.capture="handleButton"
        v-touch:tap.capture="handleButton"
        id="downButton"
        class="navigationButton"
      >
        <v-icon>keyboard_arrow_down</v-icon>
      </v-btn>
    </v-fab-transition>
    <transition-group
      name="custom-classes-transition"
      :enter-active-class="animateInClass"
      :leave-active-class="animateOutClass"
    >
      <v-layout
        align-center
        justify-center
        :style="`height: calc(100vh - 48px);
        position: absolute;
        width: 100%;
        background-color: white !important;
        padding: 2em;`"
        v-show="servicio.id == options.array_indexes[options.active]"
        v-for="servicio in servicios"
        :key="servicio.id + servicio.priority"
        dark
        class="layout"
      >
        <v-flex md6 style="width: 100%">
          <v-img :src="`/img/services/${servicio.image_name}`" style="height: 100%;width: 100%"></v-img>
        </v-flex>
        <v-flex md6 style="width: 100%">
          <h1 class="text-xs-center">{{servicio.title}}</h1>

          <p class="text-xs-center">{{servicio.description}}</p>
        </v-flex>
      </v-layout>
    </transition-group>
  </v-content>
</template>

<style scoped>
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: white !important;
}

@media (max-width: 800px) {
  .layout {
    flex-direction: column;
  }
}
</style>

<script>
import _ from "lodash";
export default {
  name: "Servicios",
  data() {
    return {
      servicios: [],
      options: {
        active: 0,
        scrollUp: false,
        touch_start: 0,
        array_indexes: []
      }
    };
  },
  methods: {
    handleScroll(e) {
      let up = e.deltaY < 0;
      this.scrollHandler(up);
    },
    scrollHandler: _.throttle(function(up) {
      if (up) {
        this.previousItem();
      } else {
        this.nextItem();
      }
    }, 1000),
    nextItem: _.throttle(function() {
      if (this.options.active < this.servicios.length - 1) {
        this.options.active += 1;
        this.options.scrollUp = false;
      }
    }, 1000),
    previousItem: _.throttle(function() {
      if (this.options.active > 0) {
        this.options.active -= 1;
        this.options.scrollUp = true;
      }
    }, 1000),
    handleTouchStart(e) {
      let vcontent = this.getClosest(e.target, "#v-content");

      if (vcontent != null) {
        this.options.touch_start = e.touches[0].clientY;

        let element = this.getClosest(e.target, ".navigationButton");

        this.options.touch_start =
          element == null ? this.options.touch_start : null;
      } else {
        this.options.touch_start = null;
      }
    },
    handleTouchEnd(e) {
      if (this.options.touch_start !== null) {
        let touch_end = e.changedTouches[0].clientY;
        let up = this.options.touch_start < touch_end - 5;
        this.scrollHandler(up);
        this.touch_start = null;
      }
    },
    handleKeyboard(e) {
      let key_code = e.which;
      if (key_code != 38 && key_code != 40) {
        return;
      } else {
        let up = key_code == 38;
        this.scrollHandler(up);
      }
    },
    handleButton(e) {
      e.preventDefault();
      e.stopPropagation();
      let button = this.getClosest(e.target, ".navigationButton");
      if (button) {
        let up = button.id == "upButton";
        if (e.type == "touchend") {
          this.scrollHandler(up);
        } else if (e.type == "click") {
          this.scrollHandler(up);
        }
      }
    },
    getClosest(elem, selector) {
      // Element.matches() polyfill
      if (!Element.prototype.matches) {
        Element.prototype.matches =
          Element.prototype.matchesSelector ||
          Element.prototype.mozMatchesSelector ||
          Element.prototype.msMatchesSelector ||
          Element.prototype.oMatchesSelector ||
          Element.prototype.webkitMatchesSelector ||
          function(s) {
            var matches = (
                this.document || this.ownerDocument
              ).querySelectorAll(s),
              i = matches.length;
            while (--i >= 0 && matches.item(i) !== this) {}
            return i > -1;
          };
      }

      // Get the closest matching element
      for (; elem && elem !== document; elem = elem.parentNode) {
        if (elem.matches(selector)) return elem;
      }
      return null;
    }
  },
  computed: {
    animateInClass() {
      return this.options.scrollUp
        ? "animated slideInDown"
        : "animated slideInUp";
    },
    animateOutClass() {
      return this.options.scrollUp
        ? "animated slideOutDown"
        : "animated slideOutUp";
    }
  },
  created() {
    axios.get("/api/front_services/").then(response => {
      this.servicios = _.orderBy(
        response.data.frontServices,
        ["priority", "id"],
        ["desc", "asc"]
      );

      response.data.frontServices.forEach(service => {
        this.options.array_indexes.push(service.id);
      });
    });

    window.addEventListener("wheel", this.handleScroll);
    window.addEventListener("touchstart", this.handleTouchStart);
    window.addEventListener("touchend", this.handleTouchEnd);
    window.addEventListener("keydown", this.handleKeyboard);

    document.documentElement.style.overflow = "hidden";
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
    window.removeEventListener("touchstart", this.handleTouchStart);
    window.removeEventListener("touchend", this.handleTouchEnd);
    window.removeEventListener("keydown", this.handleKeyboard);
    document.documentElement.style.overflow = "auto";
  }
};
</script>
