@import url(//unpkg.com/element-ui@2.4.5/lib/theme-chalk/index.css);body {
  background-color: #2b193d !important;
}

.theme--light.application {
  background: none !important;
}

@font-face {
  font-family: "astroregular";
  src: url("/fonts/astro-webfont.woff2") format("woff2"), url("/fonts/astro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.zodiac_symbol {
  font-family: astroregular;
}

