<template>
  <div>
    <header>
      <v-toolbar color="#222222" dark dense fixed clipped-left app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title class="mr-5 align-center">
          <span class="title">Tarot Janet</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn
            small
            v-if="isLoggedIn"
            slot="activator"
            color="red"
            fab
            dark
            class="white--text"
            @click="logout()"
          >
            <v-icon>power_settings_new</v-icon>
          </v-btn>
          <span>Cerrar Sesión</span>
        </v-tooltip>
      </v-toolbar>
    </header>
    <aside>
      <v-navigation-drawer v-model="drawer" fixed clipped app dark>
        <v-list dense>
          <v-list-tile
            v-for="(item, index) in filtered_items"
            :key="item.text"
            @click="drawer_action(index)"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </aside>
  </div>
</template>

<style scoped>
#navbar {
  background-color: #222222;
}

#items {
  align-items: center;
  width: -webkit-fill-available;
}

a {
  text-decoration: none;
}
</style>

<script type="text/javascript">
export default {
  name: "AdminHeader",
  data() {
    return {
      drawer: null,
      items: [
        {
          title: "Home",
          icon: "home",
          route: "/",
          require_auth: false,
          client_instance: true
        },
        {
          title: "Siguientes Citas",
          icon: "dashboard",
          route: "/admin/dashboard",
          require_auth: false
        },
        {
          title: "Agendar servicios",
          icon: "account_box",
          route: "/admin/agendar",
          require_auth: true
        },
        {
          title: "Servicios",
          icon: "room_service",
          route: "/admin/servicios",
          require_auth: true
        },
        {
          title: "Clientes",
          icon: "face",
          route: "/admin/clientes",
          require_auth: true
        },
        {
          title: "Usuarios",
          icon: "person",
          route: "/admin/usuarios",
          require_auth: true
        },
        {
          title: "Citas",
          icon: "calendar_today",
          route: "/admin/citas",
          require_auth: true
        },
        {
          title: "Galeria de Información",
          icon: "perm_media",
          route: "/admin/ServiciosFront",
          require_auth: true
        },
        {
          title: "Cambiar Imagen",
          icon: "portrait",
          route: "/admin/cambiarImagen",
          require_auth: true
        },
        {
          title: "Disponibilidad",
          icon: "build",
          route: "/admin/disponibilidad",
          require_auth: true
        },
        {
          title: "Cerrar Sesion",
          icon: "power_settings_new",
          logout: true,
          require_auth: true
        }
      ]
    };
  },
  methods: {
    logout() {
      this.$store.commit("logout");
      this.$router.push("/admin");
    },
    drawer_action(index) {
      if (this.items[index].logout) {
        this.logout();
      } else {
        if (this.items[index].client_instance) {
          window.location.href = this.items[index].route;
        } else {
          this.$router.push(this.items[index].route);
        }
      }
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    },
    currentUser() {
      return this.$store.state.currentUser;
    },
    filtered_items() {
      if (this.isLoggedIn) {
        return this.items;
      } else {
        return this.items.filter(item => !item.require_auth);
      }
    }
  }
};
</script>
