<template>
  <v-content>
    <div id="schedule_container mt-5">
      <v-container fill-height align-center fluid id="schedule_subcontainer">
        <v-layout column wrap>
          <h1
            class="display-3 text-xs-center wow rubberBand"
            style="color: #E5D4ED"
          >Formulario Agendamiento</h1>

          <v-layout row wrap class="mt-5">
            <v-flex offset-md1 md4>
              <v-card>
                <v-alert
                  :value="service_data.price!=0"
                  type="info"
                >Precio: {{ service_data.price }} CLP</v-alert>
                <v-card-actions
                  style="display: flex; flex-direction: column; align-items: flex-start"
                >
                  <v-select
                    @input="input_service"
                    :items="services"
                    item-text="title"
                    item-value="id"
                    v-model="service_selected"
                    no-data-text="No hay servicios registrados"
                    label="Seleccione un servicio"
                    style="width: 100%"
                    box
                  ></v-select>

                  <v-select
                    v-if="service_data.agendable"
                    id="turn_picker"
                    v-model="turn_selected"
                    :items="available_turns"
                    no-data-text="No hay turnos disponibles para la fecha seleccionada"
                    label="Seleccione una hora"
                    style="width: 100%"
                    box
                  ></v-select>

                  <v-dialog v-model="modalShow" width="500" :disabled="first_form_uncomplete">
                    <v-btn
                      :disabled="first_form_uncomplete"
                      slot="activator"
                      color="secondary"
                      :loading="loading"
                    >Agendar</v-btn>

                    <v-card>
                      <v-card-text>
                        <v-form>
                          <v-text-field
                            :value="service_data.title"
                            disabled
                            required
                            label="Titulo del servicio"
                          ></v-text-field>
                          <v-text-field
                            :value="service_data.description"
                            disabled
                            label="Descripción del servicio"
                          ></v-text-field>
                          <v-text-field
                            :value="service_data.price + ' CLP'"
                            disabled
                            required
                            label="Precio del servicio"
                          ></v-text-field>
                          <v-text-field
                            v-if="service_data.agendable"
                            :value="moment(date).format('DD/MM/YYYY')"
                            disabled
                            required
                            label="Fecha de la cita"
                          ></v-text-field>
                          <v-text-field
                            v-if="service_data.agendable"
                            :value="appointment_time_formatted"
                            disabled
                            required
                            label="Hora de la cita"
                          ></v-text-field>
                          <v-divider v-if="!service_data.agendable"></v-divider>
                          <v-switch
                            v-if="!service_data.agendable"
                            v-model="spell_finished"
                            :label="spell_finished ? 'Hechizo realizado' : 'Hechizo pendiente'"
                          ></v-switch>
                          <v-menu
                            v-model="datepicker_menu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            v-if="spell_finished"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="spell_date"
                                label="Fecha de realización de hechizo"
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              locale="es"
                              v-model="spell_date"
                              @input="datepicker_menu = false"
                              color="purple darken-4"
                              :max="moment().format('YYYY-MM-DD')"
                            ></v-date-picker>
                          </v-menu>
                          <v-divider v-if="!service_data.agendable"></v-divider>
                          <v-switch
                            v-model="newClient"
                            :label=" newClient ? 'Cliente nuevo' : 'Cliente existente'"
                          ></v-switch>
                          <v-flex v-if="newClient">
                            <v-text-field v-model="client.name" required label="Nombre del cliente"></v-text-field>
                            <v-text-field
                              v-model="client.lastname"
                              required
                              label="Apellido del Cliente"
                            ></v-text-field>
                            <div style="border-bottom: 1px solid #949494; margin: .7em 0 1.4em;">
                              <flat-pickr
                                aria-label="Fecha de nacimiento"
                                required="required"
                                v-model="client.birthdate"
                                placeholder="Fecha de nacimiento"
                                style="font-size: 1.15em; font-weight: 400; margin-bottom: .2em"
                                :config="birthdate"
                              ></flat-pickr>
                            </div>

                            <v-text-field v-model="client.email" label="Email del cliente"></v-text-field>
                            <v-text-field
                              v-model="client.tel"
                              id="tel"
                              placeholder="Numero de telefono"
                              required
                              type="tel"
                            ></v-text-field>
                            <v-text-field v-model="client.city" label="Ciudad del cliente"></v-text-field>
                          </v-flex>
                          <v-autocomplete
                            v-else
                            label="Selecciona a un cliente"
                            :items="clients"
                            v-model="client_selected"
                          ></v-autocomplete>
                        </v-form>
                      </v-card-text>

                      <v-divider></v-divider>

                      <v-card-actions>
                        <v-layout>
                          <v-flex justify-space-around d-flex>
                            <v-btn class="white--text" color="red" @click="modalShow=false">Cancelar</v-btn>
                            <v-btn
                              :disabled="second_form_uncomplete"
                              @click="submit_form"
                              color="blue"
                              class="white--text"
                              :loading="loading"
                            >Aceptar</v-btn>
                          </v-flex>
                        </v-layout>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
              </v-card>
            </v-flex>
            <v-flex offset-md2 md4>
              <v-date-picker
                v-if="service_data.agendable"
                full-width
                v-model="date"
                @input="input_date"
                color="purple darken-4"
                :max="moment().add(6,'M').endOf('month').format('YYYY-MM-DD')"
                locale="es-es"
                style="background-color: white"
              ></v-date-picker>
            </v-flex>
          </v-layout>
        </v-layout>
      </v-container>
    </div>
  </v-content>
</template>

<script>
import { getNextTurn, getStartTimeFromIndex } from "../../helpers/utils";
import flatPickr from "vue-flatpickr-component";
import { Spanish } from "flatpickr/dist/l10n/es";
import "flatpickr/dist/flatpickr.css";
var timezone = require("moment-timezone");
var moment = require("moment");
import swal from "sweetalert2";

export default {
  name: "Agendar",
  data() {
    return {
      service_selected: null,
      service_data: {
        price: 0,
        title: ""
      },
      services: [],
      turn_selected: null,
      available_turns: [],
      moment: moment,
      date: moment()
        .tz("America/Santiago")
        .format("YYYY-MM-DD"),
      spell_date: "",
      spell_finished: false,
      modalShow: false,
      client: {
        name: "",
        lastname: "",
        email: "",
        tel: "",
        birthdate: "",
        city: ""
      },
      datepicker_menu: false,
      clients: [],
      client_selected: null,
      newClient: false,
      loading: false,
      menu: false,
      rules: {
        required: value => !!value || "Este campo es requerido."
      },
      birthdate: {
        locale: Spanish,
        maxDate: "today",
        dateFormat: "Y-m-d",
        altFormat: "d/m/Y",
        altInput: true
      }
    };
  },
  methods: {
    input_date() {
      axios
        .get("/api/appointment/admin-available/" + this.date)
        .then(response => {
          this.available_turns = response.data.available;
        });
      this.turn_selected = null;
    },
    input_service() {
      if (this.service_selected == null) {
        this.service_data = {
          price: 0,
          title: ""
        };
      } else {
        axios.get("/api/services/" + this.service_selected).then(response => {
          this.service_data = response.data.service;
        });
      }
    },
    to_form_two() {
      this.modalShow = true;
    },
    submit_form() {
      this.loading = true;
      this.modalShow = false;
      axios
        .post("/api/appointment/admin-create", {
          client_name: this.client.name,
          client_lastname: this.client.lastname,
          client_email: this.client.email,
          tel: this.client.tel,
          appointment_date: this.date,
          appointment_turn: this.turn_selected,
          service_id: this.service_selected,
          description: this.client.desc,
          newClient: this.newClient,
          client_selected: this.client_selected,
          birthdate: this.client.birthdate,
          city: this.client.city,
          spell_date: this.spell_date,
          spell_finished: this.spell_finished
        })
        .then(response => {
          /* axios
            .post("/api/appointment/onCreate", {
              appointment_id: response.data.appointment.id
            })
            .then(emailResponse => {
              console.log(emailResponse);
            })
            .catch(error => console.log(error)); */

          swal("Exito!", "Ha agendado una cita correctamente", "success").then(
            () => {
              this.input_date();
              this.client = {
                name: "",
                lastname: "",
                email: "",
                tel: "",
                birthdate: ""
              };
              this.client_selected = null;
              this.loading = false;
            }
          );
        })
        .catch(error => {
          console.log(error);
          this.input_date();
          this.client = {
            name: "",
            lastname: "",
            email: "",
            tel: "",
            birthdate: ""
          };
          this.client_selected = null;
          this.loading = false;
        });
    }
  },
  watch: {
    first_form_uncomplete(val) {
      if (val) {
        this.modalShow = false;
      }
    }
  },
  created() {
    axios.get("/api/services/").then(response => {
      this.services = response.data.services;
    });
    this.input_date();

    axios.get("/api/clients/select").then(response => {
      this.clients = response.data.clients;
    });
  },
  computed: {
    first_form_uncomplete: function() {
      return Boolean(
        this.service_selected === "" ||
          (this.turn_selected === "" && this.service_data.agendable) ||
          (this.service_selected === null ||
            (this.turn_selected === null && this.service_data.agendable))
      );
    },
    appointment_time_formatted: function() {
      return this.turn_selected == null
        ? "none"
        : `${getStartTimeFromIndex(
            this.turn_selected
          )} - ${getStartTimeFromIndex(parseInt(this.turn_selected) + 1)}`;
    },
    second_form_uncomplete: function() {
      let email_pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return (
        (((this.client.email != "" &&
          this.client.email.search(email_pattern) == -1) ||
          this.client.name == "") &&
          this.newClient) ||
        (!this.newClient && this.client_selected == null)
      );
    }
  },
  components: {
    flatPickr
  }
};
</script>

<style>
#button_container_modal {
  display: flex;
  justify-content: space-between;
}

#payment_frame {
  width: 90vw;
  height: 90vh;
  border: 0;
  -webkit-box-shadow: 2px 4px 98px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 4px 98px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 4px 98px -3px rgba(0, 0, 0, 0.6);
  margin-bottom: 10vh;
  border-radius: 15px;
}

#iframe_container {
  display: flex;
  justify-content: center;
}

.v-fade {
  display: inherit;
  transition: opacity 1s;
}

.v-fade[style*="display: none;"] {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.blur {
  filter: blur(5px);
}

#loading_message {
  z-index: 999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.flatpickr-input {
  font-size: 1.15em !important;
  font-weight: 400 !important;
  margin-bottom: 0.2em !important;
  width: 100%;
}
</style>
