<template>
  <v-content>
    <v-layout fill-height align-center pa-5 wrap>
      <v-flex offset-sm1 sm10>
        <v-card id="card" class="elevation-12">
          <h1 class="mt-3 text-xs-center">Cambiar imagen de la pagina inicial</h1>
          <v-card-text>
            <v-flex justify-center text-xs-center>
              <transition name="fade" v-if="!loading_image">
                <v-avatar :size="320">
                  <img :src="imageUrl" :key="image">
                </v-avatar>
              </transition>
              <v-progress-circular v-else size="32" indeterminate></v-progress-circular>
            </v-flex>

            <v-flex justify-end></v-flex>
          </v-card-text>
          <v-card-actions>
            <upload-btn
              :fileChangedCallback="fileChanged"
              title="Seleccionar imagen"
              accept="image/*"
              color="secondary"
              dark
            ></upload-btn>
            <v-spacer></v-spacer>
            <v-fab-transition>
              <v-btn @click="submit" dark v-show="image" color="purple darken-4">Actualizar imagen</v-btn>
            </v-fab-transition>
          </v-card-actions>
        </v-card>
        <v-snackbar
          v-model="fileError"
          color="error"
          :timeout="5000"
          :top="true"
        >Error: Debe seleccionar una imagen
          <v-btn dark flat @click="fileError = false">Cerrar</v-btn>
        </v-snackbar>
      </v-flex>
    </v-layout>
  </v-content>
</template>
<script type="text/javascript">
import { dom } from "@fortawesome/fontawesome-svg-core";

dom.watch();

import { getLocalUser } from "../../helpers/auth.js";
import swal from "sweetalert2";
import UploadButton from "vuetify-upload-button";

export default {
  name: "CambiarImagen",
  data() {
    return {
      image: "",
      loading_image: false,
      fileError: false
    };
  },
  methods: {
    submit() {
      if (this.image != "") {
        axios
          .put(`/api/landing_image/`, {
            image: this.image
          })
          .then(response => {
            if (response.status == 201) {
              swal({
                type: "success",
                title: "Bien!",
                text: "Ha logrado cambiar la imagen correctamente"
              }).then(result => {
                this.OnFormSubmitted();
              });
            } else {
              swal({
                type: "error",
                title: "Oops...",
                text: "Algo malo ocurrió... Respuesta http: " + response.status
              });
            }
          });
      } else {
        this.fileError = true;
      }
    },
    fileChanged(file) {
      if (file) {
        let validImageTypes = ["image/gif", "image/jpeg", "image/png"];

        if (validImageTypes.includes(file.type)) {
          this.fileError = false;
          this.loading_image = true;
          let reader = new FileReader();
          let vm = this;
          reader.onload = e => {
            vm.image = e.target.result;
            vm.loading_image = false;
          };
          reader.readAsDataURL(file);
        } else {
          this.image = "";
          this.fileError = true;
        }
      }
    }
  },
  computed: {
    imageUrl() {
      return this.image || "/img/a.jpg";
    }
  },
  components: {
    "upload-btn": UploadButton
  }
};
</script>
<style scoped>
#card {
  padding: 1em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
