<template>
  <v-content>
    <v-layout fill-height align-center pa-5 wrap>
      <v-flex>
        <v-card id="card" class="elevation-12">
          <h1 class="mt-3 text-xs-center">Listado de citas</h1>
          <div style="display:flex; justify-content:flex-end">
            <v-dialog v-model="dialog" max-width="500px">
              <v-card class="elevation-24">
                <v-card-title>
                  <span class="headline">Editar cita</span>
                </v-card-title>

                <v-card-text>
                  <v-form ref="form" lazy-validation>
                    <v-text-field
                      v-if="form.flowOrder == ''"
                      v-model.trim="form.flowOrder"
                      label="Flow Order"
                      disabled
                      box
                    ></v-text-field>

                    <v-select
                      v-model="form.service_id"
                      :rules="[rules.select_required]"
                      :items="services"
                      item-text="title"
                      item-value="id"
                      label="Servicio"
                      no-data-text="No hay servicios registrados en el sistema"
                      @change="changeService"
                    ></v-select>

                    <v-dialog
                      v-model="appointment_date_modal"
                      ref="date_modal"
                      :return-value.sync="form.appointment_date"
                      color="purple darken-4"
                      persistent
                      lazy
                      full-width
                      width="290px"
                      @input="input_date"
                      locale="es-es"
                      v-if="appointmentAgendable"
                    >
                      <v-text-field
                        slot="activator"
                        :value="form.appointment_date | date"
                        label="Fecha"
                        readonly
                      ></v-text-field>
                      <v-date-picker locale="es-es" v-model="form.appointment_date" scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="appointment_date_modal = false">Cancelar</v-btn>
                        <v-btn
                          flat
                          color="primary"
                          @click="$refs.date_modal.save(form.appointment_date)"
                        >OK</v-btn>
                      </v-date-picker>
                    </v-dialog>
                    <v-select
                      v-if="appointmentAgendable"
                      id="turn_picker"
                      v-model="form.appointment_turn"
                      :rules="[rules.select_required]"
                      :items="available_turns"
                      no-data-text="No hay turnos disponibles para la fecha seleccionada"
                      label="Seleccione una hora"
                      style="width: 100%"
                      box
                    ></v-select>

                    <v-switch
                      v-if="!appointmentAgendable"
                      v-model="form.spell_finished"
                      :label="form.spell_finished ? 'Hechizo realizado' : 'Hechizo pendiente'"
                    ></v-switch>
                    <v-dialog
                      v-model="appointment_date_modal"
                      ref="date_modal"
                      :return-value.sync="form.spell_date"
                      color="purple darken-4"
                      persistent
                      lazy
                      full-width
                      width="290px"
                      @input="input_date"
                      locale="es-es"
                      v-if="form.spell_finished"
                    >
                      <v-text-field
                        slot="activator"
                        :value="form.spell_date | date"
                        label="Fecha"
                        readonly
                      ></v-text-field>
                      <v-date-picker locale="es-es" v-model="form.spell_date" scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="appointment_date_modal = false">Cancelar</v-btn>
                        <v-btn
                          flat
                          color="primary"
                          @click="$refs.date_modal.save(form.spell_date)"
                        >OK</v-btn>
                      </v-date-picker>
                    </v-dialog>
                    <v-divider></v-divider>
                    <v-switch
                      v-model="newClient"
                      :label=" newClient ? 'Cliente nuevo' : 'Cliente existente'"
                    ></v-switch>
                    <v-flex v-if="newClient">
                      <v-text-field v-model="form.client.name" required label="Nombre del cliente"></v-text-field>
                      <v-text-field
                        v-model="form.client.lastname"
                        required
                        label="Apellido del Cliente"
                      ></v-text-field>

                      <v-text-field v-model="form.client.email" label="Email del cliente"></v-text-field>
                      <v-text-field
                        v-model="form.client.tel"
                        id="tel"
                        placeholder="Numero de telefono"
                        required
                        type="tel"
                      ></v-text-field>
                    </v-flex>
                    <v-autocomplete
                      v-else
                      label="Selecciona a un cliente"
                      :items="clients"
                      v-model="client_selected"
                    ></v-autocomplete>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="purple darken-4"
                    class="white--text"
                    @click="submit"
                    :disabled="second_form_uncomplete"
                    :loading="loading"
                  >Actualizar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <v-card-text>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
            ></v-text-field>
            <v-data-table
              :search="search"
              :loading="appointments.loading"
              :headers="appointments.headers"
              :disable-initial-sort="true"
              :items="appointments.content"
              rows-per-page-text="Resultados por pagina"
              no-data-text="No hay citas registradas"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.appointment_date | date }}</td>
                <td>{{ props.item.appointment_turn | turnToTime }}</td>
                <td>{{ props.item.service.title }}</td>
                <td>{{ props.item.client.name }}</td>
                <td>{{ props.item.client.lastname }}</td>
                <td>{{ props.item.client.email }}</td>
                <td>{{ props.item.client.tel }}</td>
                <td>
                  <v-icon small class="mr-2" @click="edit(props.item)">edit</v-icon>
                  <v-icon small @click="delItem(props.item)">delete</v-icon>
                </td>
              </template>
              <v-alert
                slot="no-results"
                :value="true"
                color="error"
                icon="warning"
              >Tu busqueda de "{{ search }}" no obtuvo resultados.</v-alert>
              <template
                slot="pageText"
                slot-scope="props"
              >Resultados {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}</template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-content>
</template>
<script type="text/javascript">
import moment from "moment";
import swal from "sweetalert2";
import _ from "lodash";

export default {
  name: "Citas",
  data() {
    return {
      appointments: {
        headers: [
          {
            value: "appointment_date",
            text: "Fecha",
            sortable: true,
            align: "left"
          },
          {
            value: "time",
            text: "Hora",
            sortable: true,
            align: "left"
          },
          {
            value: "service.title",
            text: "Servicio",
            sortable: true,
            align: "left"
          },
          {
            value: "client.name",
            text: "Nombre",
            sortable: true,
            align: "left"
          },
          {
            value: "client.lastname",
            text: "Apellido",
            sortable: true,
            align: "left"
          },
          {
            value: "client.email",
            text: "Email",
            sortable: true,
            align: "left"
          },
          {
            value: "client.tel",
            text: "Telefono",
            sortable: false
          },
          {
            value: "actions",
            text: "Acciones",
            sortable: false,
            align: "left"
          }
        ],
        content: [],
        loading: false
      },
      dialog: false,
      appointment_date_modal: false,
      rules: {
        required: value => !!value || "Este campo es requerido.",
        select_required: value =>
          !!value || value === 0 || "Debe seleccionar un turno."
      },
      form: {
        client: {
          id: null,
          name: "",
          lastname: "",
          email: "",
          tel: "",
          birthdate: "",
          boys: 0,
          girls: 0,
          city: ""
        },
        appointment_date: "",
        appointment_turn: 0,
        spell_date: "",
        spell_finished: false,
        service_id: null,
        service: { agendable: true }
      },
      services: [],
      available_turns: [],
      search: "",
      loading: false,
      newClient: false,
      clients: [],
      client_selected: null
    };
  },
  filters: {
    turnToTime(value) {
      if (!value) return "";
      if (isNaN(value)) return "";
      value = parseInt(value);
      let hour = Math.floor(value / 2);
      return `${hour > 9 ? hour : "0" + hour}:${value % 2 == 0 ? "00" : "30"}`;
    },
    date(date) {
      return date == null ? "" : moment(date).format("DD/MM/YYYY");
    }
  },
  methods: {
    moment: function() {
      return moment();
    },
    edit(item, index) {
      axios.get(`/api/appointments/${item.id}`).then(response => {
        this.form = response.data.appointment;
        this.newClient = false;
        this.client_selected = this.form.client.id;
        this.dialog = true;

        if (this.form.service.agendable) {
          this.input_date();
        }
      });
    },
    input_date() {
      axios
        .get(
          `/api/appointment/admin-select-available/${
            this.form.appointment_date
          }/${this.form.appointment_turn ? this.form.appointment_turn : ""}`
        )
        .then(response => {
          this.available_turns = response.data.available;
        });
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        axios
          .put(`/api/appointment/${this.form.id}`, {
            client_name: this.form.client.name,
            client_lastname: this.form.client.lastname,
            client_email: this.form.client.email,
            tel: this.form.client.tel,
            appointment_date: this.form.appointment_date,
            appointment_turn: this.form.appointment_turn,
            service_id: this.form.service_id,
            newClient: this.newClient,
            client_selected: this.client_selected,
            spell_date: this.form.spell_date,
            spell_finished: this.form.spell_finished
          })
          .then(response => {
            if (response.status == 200) {
              swal({
                type: "success",
                title: "Bien!",
                text: "Ha logrado actualizar la cita seleccionada correctamente"
              }).then(result => {
                this.dialog = false;
                this.load();
                this.loading = false;
              });
            } else {
              swal({
                type: "error",
                title: "Oops...",
                text: "Algo malo ocurrió... Respuesta http: " + response.status
              });
              this.load();
              this.loading = false;
            }
          });
      }
    },
    delItem(item) {
      swal({
        title: "¿Está seguro?",
        text: "¿Desea eliminar esta cita?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          axios.delete(`/api/appointments/${item.id}`).then(response => {
            if (response.status == 204) {
              swal(
                "¡Eliminado!",
                "La cita ha sido eliminada correctamente.",
                "success"
              ).then(() => {
                this.load();
              });
            } else {
              swal(
                "¡Ha ocurrido un error!",
                `HTTP STATUS: ${response.status}`,
                "error"
              );
            }
          });
        } else {
          swal("¡Cancelado!", "El usuario no fue eliminado.", "success");
        }
      });
    },
    onHidden() {
      this.form = {
        id: null,
        title: "",
        price: 0
      };

      this.$refs.cita_form.$destroy;
    },
    loadAsync: function() {
      this.interval = setInterval(() => {}, 1000 * 60);
    },
    load() {
      this.appointments.loading = true;
      axios.get("/api/appointments/").then(response => {
        let appointments = response.data.appointments;
        appointments = _.orderBy(
          appointments,
          [
            appointment => appointment.appointment_date || "",
            "appointment_turn"
          ],
          ["desc", "asc"]
        );
        this.appointments.content = appointments;
        this.appointments.loading = false;
      });
    },
    changeService() {
      this.loading = true;
      axios.get(`/api/services/${this.form.service_id}`).then(response => {
        this.form.service = response.data.service;
        this.loading = false;
      });
    }
  },
  computed: {
    appointmentAgendable() {
      return Boolean(this.form.service.agendable || false);
    },
    second_form_uncomplete: function() {
      let email_pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      let email_validation = false;
      if (this.form.client.email != null) {
        email_validation =
          this.form.client.email != "" &&
          this.form.client.email.search(email_pattern) == -1;
      } else {
        email_validation = false;
      }

      return (
        ((email_validation || this.form.client.name == "") && this.newClient) ||
        (!this.newClient && this.client_selected == null)
      );
    }
  },
  created() {
    this.load();
    this.loadAsync();
    axios.get("/api/services").then(response => {
      this.services = response.data.services;
    });

    axios.get("/api/clients/select").then(response => {
      this.clients = response.data.clients;
    });
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
};
</script>
<style>
#users-container {
  margin-top: 3rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#addUser {
  margin-top: 0.5em;
  margin-bottom: 3rem;
  align-self: flex-end;
}
</style>
