<template>
  <v-content>
    <v-layout fill-height align-center pa-5 wrap>
      <v-flex offset-sm1 sm10>
        <v-card id="card" class="elevation-12">
          <h1 class="mt-3 text-xs-center">Listado de Clientes</h1>
          <div style="display:flex; justify-content:flex-end">
            <v-dialog persistent v-model="dialog" max-width="700px">
              <v-btn dark slot="activator" color="purple darken-4">Añadir Cliente</v-btn>
              <v-card class="elevation-24">
                <v-card-title>
                  <span class="headline">{{ titleForm }}</span>
                  <v-spacer></v-spacer>
                  <v-icon style="cursor: pointer;" @click="dialog = false">close</v-icon>
                </v-card-title>

                <v-card-text>
                  <v-tabs v-model="tab" color="#222222" dark centered hide-slider>
                    <v-tab key="1" ripple>
                      Datos del cliente
                      <v-fab-transition>
                        <v-icon color="red" v-show="!forms[0].valid">error_outline</v-icon>
                      </v-fab-transition>
                    </v-tab>
                    <v-tab key="2" ripple>Problemas</v-tab>
                    <v-tab key="3" ripple>Hechizos</v-tab>
                    <v-tab-item key="1">
                      <v-card flat>
                        <v-card-text>
                          <v-form ref="form" lazy-validation>
                            <v-text-field
                              v-model.trim="form.name"
                              label="Nombre"
                              name="name"
                              :rules="[rules.required]"
                            ></v-text-field>
                            <v-text-field
                              v-model.trim="form.lastname"
                              label="Apellido"
                              name="lastname"
                              :rules="[rules.required]"
                            ></v-text-field>
                            <v-layout>
                              <v-flex>
                                <div
                                  style="border-bottom: 1px solid #949494; margin: .7em 0 1.4em;"
                                >
                                  <flat-pickr
                                    aria-label="Fecha de nacimiento"
                                    required="required"
                                    v-model="form.birthdate"
                                    placeholder="Fecha de nacimiento"
                                    style="font-size: 1.15em; font-weight: 400; margin-bottom: .2em"
                                    :config="birthdate"
                                  ></flat-pickr>
                                </div>
                              </v-flex>
                              <transition name="fade">
                                <v-flex
                                  v-show="birthdateIsNotEmpty"
                                  xs1
                                  style="display: flex;
                                      align-items: center;
                                      text-align: center;
                                      justify-content: center;
                                      background-color: #4a148c;
                                      border-radius: 1em;
                                      margin-bottom: 1em;
                                      margin-left: 1em;
                                      cursor: pointer;"
                                >
                                  <transition name="fade">
                                    <v-tooltip top>
                                      <span
                                        slot="activator"
                                        class="zodiac_symbol"
                                        style="font-size: 3em; color: white;"
                                      >{{ birthdateSelected.value }}</span>
                                      <span>{{ birthdateSelected.name }}</span>
                                    </v-tooltip>
                                  </transition>
                                </v-flex>
                              </transition>
                            </v-layout>
                            <v-text-field
                              v-model="form.email"
                              label="Email"
                              name="email"
                              type="email"
                            ></v-text-field>
                            <v-text-field v-model="form.city" label="Ciudad" name="city"></v-text-field>
                            <v-container fluid pa-0>
                              <v-layout>
                                <v-flex xs6>
                                  <v-text-field
                                    type="number"
                                    min="0"
                                    label="Hijos"
                                    name="boys"
                                    v-model="form.boys"
                                    :rules="[rules.number]"
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                  <v-text-field
                                    type="number"
                                    min="0"
                                    label="Hijas"
                                    name="girls"
                                    v-model="form.girls"
                                    :rules="[rules.number]"
                                  ></v-text-field>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-form>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>
                    <v-tab-item key="2">
                      <v-card flat>
                        <v-card-text>
                          <v-form ref="problems">
                            <v-data-table
                              :headers="problems_headers"
                              :items="form.problems"
                              rows-per-page-text="Resultados por pagina"
                              no-data-text="Este cliente no tiene problemas registrados"
                              hide-actions
                              disable-initial-sort
                            >
                              <template slot="items" slot-scope="props">
                                <td>
                                  <v-menu
                                    :close-on-content-click="false"
                                    v-model="multipleMenu2[props.index]"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px"
                                  >
                                    <v-text-field
                                      slot="activator"
                                      :value="props.item.date | date"
                                      locale="es-es"
                                      label="Fecha"
                                      readonly
                                      style="text-align: center;"
                                    ></v-text-field>
                                    <v-date-picker
                                      v-model="props.item.date"
                                      locale="es-es"
                                      @input="menu2 = false"
                                    ></v-date-picker>
                                  </v-menu>
                                </td>
                                <td>
                                  <v-textarea
                                    v-model="props.item.description"
                                    label="Descripción"
                                    auto-grow
                                    rows="2"
                                  ></v-textarea>
                                </td>
                                <td>
                                  <v-icon small @click="removeProblem(props.index)">delete</v-icon>
                                </td>
                              </template>
                            </v-data-table>
                            <v-layout>
                              <v-flex justify-center class="text-xs-center">
                                <v-btn color="#222222" @click="addProblem" dark>Añadir problema</v-btn>
                              </v-flex>
                            </v-layout>
                          </v-form>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>
                    <v-tab-item key="3">
                      <v-card flat>
                        <v-card-text>
                          <v-data-table
                            :headers="spells_headers"
                            :items="form.appointments"
                            rows-per-page-text="Resultados por pagina"
                            no-data-text="Este cliente no tiene hechizos registrados"
                            hide-actions
                            disable-initial-sort
                          >
                            <template slot="items" slot-scope="props">
                              <td>
                                <v-menu
                                  :close-on-content-click="false"
                                  v-model="multipleMenu[props.index]"
                                  :nudge-right="40"
                                  lazy
                                  transition="scale-transition"
                                  :disabled="!props.item.spell_finished"
                                  offset-y
                                  full-width
                                  min-width="290px"
                                >
                                  <v-text-field
                                    slot="activator"
                                    :disabled="!props.item.spell_finished"
                                    :value="props.item.spell_date | date"
                                    locale="es-es"
                                    label="Fecha"
                                    readonly
                                    style="text-align: center;"
                                  ></v-text-field>
                                  <v-date-picker
                                    :disabled="!props.item.spell_finished"
                                    v-model="props.item.spell_date"
                                    locale="es-es"
                                    @input="menu2 = false"
                                  ></v-date-picker>
                                </v-menu>
                              </td>
                              <td>
                                <v-autocomplete v-model="props.item.service_id" :items="services"></v-autocomplete>
                              </td>
                              <td>
                                <v-switch
                                  v-model="props.item.spell_finished"
                                  :label="props.item.spell_finished ? 'Si' : 'No'"
                                ></v-switch>
                              </td>
                              <td>
                                <v-icon small @click="removeSpell(props.index)">delete</v-icon>
                              </td>
                            </template>
                          </v-data-table>

                          <v-layout>
                            <v-flex justify-center class="text-xs-center">
                              <v-btn color="#222222" @click="addSpell" dark>Añadir hechizo</v-btn>
                            </v-flex>
                          </v-layout>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>
                  </v-tabs>
                </v-card-text>
                <v-card-actions>
                  <v-container style="display: flex; justify-content: space-around;">
                    <v-btn color="red" dark @click="dialog = false">Cerrar</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="purple darken-4" dark @click="submit">{{buttonAction}}</v-btn>
                  </v-container>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <v-card-text>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
            ></v-text-field>
            <v-data-table
              :search="search"
              :loading="clients.loading"
              :headers="clients.headers"
              :items="clients.content"
              rows-per-page-text="Resultados por pagina"
              no-data-text="No hay clientes registrados"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.lastname }}</td>
                <td>{{ props.item.birthdate | date }}</td>
                <td>{{ props.item.city }}</td>
                <td>{{ props.item.birthdate | zodiac }}</td>
                <td>
                  <v-icon small class="mr-2" @click="edit(props.item)">edit</v-icon>
                  <v-icon small @click="delItem(props.item)">delete</v-icon>
                </td>
              </template>
              <template
                slot="pageText"
                slot-scope="props"
              >Resultados {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}</template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-content>
</template>
<script type="text/javascript">
import { dom } from "@fortawesome/fontawesome-svg-core";

dom.watch();

import { getLocalUser } from "../../helpers/auth.js";
import swal from "sweetalert2";
import { getZodiacSign } from "../../helpers/utils.js";
import flatPickr from "vue-flatpickr-component";
import { Spanish } from "flatpickr/dist/l10n/es";
import "flatpickr/dist/flatpickr.css";

export default {
  name: "Cliente",
  data() {
    return {
      problems_headers: [
        {
          value: "date",
          text: "Fecha",
          align: "left",
          sortable: true
        },
        {
          value: "description",
          text: "Descripción",
          align: "left",
          sortable: true
        },
        {
          value: "actions",
          text: "Acciones",
          align: "left",
          sortable: false
        }
      ],
      spells_headers: [
        {
          value: "spell_date",
          text: "Fecha",
          align: "left",
          sortable: true
        },
        {
          value: "service_id",
          text: "Servicio",
          align: "left",
          sortable: true
        },
        {
          value: "spell_finished",
          text: "Fue realizado?",
          align: "left",
          sortable: true
        },
        {
          value: "actions",
          text: "Acciones",
          align: "left",
          sortable: false
        }
      ],
      clients: {
        headers: [
          {
            value: "name",
            text: "Nombre",
            align: "left",
            sortable: true
          },
          {
            value: "lastname",
            text: "Apellido",
            align: "left",
            sortable: true
          },
          {
            value: "birthdate",
            text: "Fecha de Nacimiento",
            align: "left",
            sortable: true
          },
          {
            value: "city",
            text: "Ciudad",
            align: "left",
            sortable: true
          },
          {
            value: "zodiac",
            text: "Signo",
            align: "left",
            sortable: true
          },
          {
            value: "actions",
            text: "Acciones",
            align: "left",
            sortable: false
          }
        ],
        loading: true,
        content: []
      },
      form: {
        name: "",
        lastname: "",
        birthdate: "",
        email: "",
        boys: 0,
        girls: 0,
        city: "",
        problems: [],
        appointments: []
      },
      search: "",
      forms: [{ valid: true }, { valid: true }, { valid: true }],
      dialog: false,
      editMode: false,
      rules: {
        required: value => !!value || "Este campo es requerido.",
        number: value =>
          !value ||
          (value >= 0 && !isNaN(value) && value % 1 === 0) ||
          "Ingrese una cantidad válida."
      },
      services: [],
      menu: false,
      multipleMenu: [],
      multipleMenu2: [],
      tab: null,
      zodiac_symbols: {
        capricornio: {
          value: "J",
          name: "Capricornio",
          description: ""
        },
        acuario: {
          value: "K",
          name: "Acuario",
          description: ""
        },
        piscis: {
          value: "L",
          name: "Piscis",
          description: ""
        },
        aries: {
          value: "A",
          name: "Aries",
          description: ""
        },
        tauro: {
          value: "B",
          name: "Tauro",
          description: ""
        },
        geminis: {
          value: "C",
          name: "Géminis",
          description: ""
        },
        cancer: {
          value: "D",
          name: "Cáncer",
          description: ""
        },
        leo: {
          value: "E",
          name: "Leo",
          description: ""
        },
        virgo: {
          value: "F",
          name: "Virgo",
          description: ""
        },
        libra: {
          value: "G",
          name: "Libra",
          description: ""
        },
        escorpio: {
          value: "H",
          name: "Escorpio",
          description: ""
        },
        sagitario: {
          value: "I",
          name: "Sagitario",
          description: ""
        }
      },
      birthdate: {
        locale: Spanish,
        maxDate: "today",
        dateFormat: "Y-m-d",
        altFormat: "d/m/Y",
        altInput: true
      }
    };
  },
  components: {
    flatPickr
  },
  filters: {
    date(val) {
      if (val == null) {
        return "";
      }
      return val
        .split("-")
        .reverse()
        .join("/");
    },
    zodiac: getZodiacSign
  },
  methods: {
    edit(item, index) {
      axios.get(`/api/clients/${item.id}`).then(({ data: { client } }) => {
        this.form = client;

        this.dialog = true;
        this.editMode = true;
      });
    },
    delItem(item) {
      swal({
        title: "¿Está seguro?",
        text: "¿Desea eliminar este elemento?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          axios.delete(`/api/clients/${item.id}`).then(response => {
            if (response.status == 204) {
              swal(
                "¡Eliminado!",
                "El registro ha sido eliminado correctamente.",
                "success"
              ).then(() => {
                this.load();
              });
            } else {
              swal(
                "¡Ha ocurrido un error!",
                `HTTP STATUS: ${response.status}`,
                "error"
              );
            }
          });
        } else {
          swal("¡Cancelado!", "El elemento no fue eliminado.", "success");
        }
      });
    },
    load() {
      axios.get("/api/clients/").then(({ data: { clients } }) => {
        this.clients.content = clients;
        this.clients.loading = false;
      });
    },
    OnFormSubmitted() {
      this.dialog = false;
      this.load();
      this.editMode = false;
      this.forms = [{ valid: true }, { valid: true }, { valid: true }];
    },
    close() {
      setTimeout(() => {
        this.$refs.form.reset();
        this.form = {
          name: "",
          lastname: "",
          birthdate: "",
          boys: 0,
          girls: 0,
          city: "",
          problems: [],
          appointments: []
        };
        this.editMode = false;
        this.forms = [{ valid: true }, { valid: true }, { valid: true }];
      }, 300);
    },
    submit() {
      if (this.$refs.form.validate()) {
        if (this.form.birthdate == "") {
          swal({
            type: "warning",
            title: "Espere!",
            text: "Ingrese la fecha de nacimiento"
          });
          return null;
        }
        this.forms[0].valid = true;
        let formdata = this.form;
        formdata.problems = formdata.problems.filter(
          value => value.date || value.description
        );
        formdata.appointments = formdata.appointments.filter(
          value => value.service_id
        );
        if (this.form.id == null) {
          axios.post("/api/clients", this.form).then(response => {
            if (response.status == 201) {
              swal({
                type: "success",
                title: "Bien!",
                text: "Ha logrado registrar el cliente correctamente"
              }).then(result => {
                this.OnFormSubmitted();
              });
            } else {
              swal({
                type: "error",
                title: "Oops...",
                text: "Algo malo ocurrió... Respuesta http: " + response.status
              });
            }
          });
        } else {
          axios
            .put(`/api/clients/${this.form.id}`, this.form)
            .then(response => {
              if (response.status == 200) {
                swal({
                  type: "success",
                  title: "Bien!",
                  text:
                    "Ha logrado actualizar el cliente seleccionado correctamente"
                }).then(result => {
                  this.OnFormSubmitted();
                });
              } else {
                swal({
                  type: "error",
                  title: "Oops...",
                  text:
                    "Algo malo ocurrió... Respuesta http: " + response.status
                });
              }
            });
        }
      } else {
        this.forms[0].valid = false;
        this.tab = 0;
      }
    },
    getZodiacSign: getZodiacSign,
    addProblem() {
      this.form.problems.push({
        date: "",
        description: ""
      });
    },
    removeProblem(index) {
      swal
        .fire({
          title: "¿Deseas eliminar este problema?",
          text:
            "Puedes revertir la eliminación del problema si cierras el modal o abandonas la página sin guardar los cambios.",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Eliminar",
          cancelButtonText: "Cancelar"
        })
        .then(result => {
          if (result.value) {
            this.form.problems.splice(index, 1);
            swal.fire("Eliminado", "El problema ha sido eliminado.", "success");
          }
        });
    },
    removeSpell(index) {
      if (this.form.appointments[index].id != null) {
        swal
          .fire({
            title: "¿Deseas eliminar este hechizo?",
            text:
              "Puedes revertir la eliminación del hechizo si cierras el modal o abandonas la página sin guardar los cambios.",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar"
          })
          .then(result => {
            if (result.value) {
              this.form.appointments.splice(index, 1);
              swal.fire(
                "Eliminado",
                "El hechizo ha sido eliminado.",
                "success"
              );
            }
          });
      } else {
        this.form.appointments.splice(index, 1);
      }
    },
    addSpell() {
      this.form.appointments.push({
        id: null,
        spell_date: "",
        spell_finished: false
      });
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.currentUser;
    },
    birthdateSelected() {
      let birthdate = this.form.birthdate;

      if (birthdate) {
        if (birthdate.length < 8) {
          return "";
        } else {
          return this.zodiac_symbols[
            this.getZodiacSign(this.form.birthdate).toLowerCase()
          ];
        }
      } else {
        return "";
      }
    },
    titleForm() {
      return this.form.id == null
        ? "Crear cliente"
        : `Editar cliente #${this.form.id}`;
    },
    buttonAction() {
      return this.form.id == null ? "Crear" : "Actualizar";
    },
    birthdateIsNotEmpty() {
      return this.form.birthdate ? this.form.birthdate.length > 0 : false;
    }
  },
  created() {
    this.clients.loading = true;
    this.load();
    axios.get("/api/services/non-agendable").then(({ data: { services } }) => {
      this.services = services;
    });
  }
};
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.flatpickr-input {
  font-size: 1.15em !important;
  font-weight: 400 !important;
  margin-bottom: 0.2em !important;
  width: 100%;
}
</style>
