<template>
  <div>
    <v-content>
      <v-layout>
        <v-dialog v-model="appointment_dialog" max-width="500px">
          <v-card class="elevation-24">
            <v-card-title>
              <span class="headline">Editar cita</span>
            </v-card-title>

            <v-card-text>
              <v-form ref="appointment_form" lazy-validation>
                <v-switch
                  v-model="newClient"
                  :label=" newClient ? 'Cliente nuevo' : 'Cliente existente'"
                ></v-switch>
                <v-flex v-if="newClient">
                  <v-text-field
                    v-model="appointment_form.client.name"
                    required
                    label="Nombre del cliente"
                  ></v-text-field>
                  <v-text-field
                    v-model="appointment_form.client.lastname"
                    required
                    label="Apellido del Cliente"
                  ></v-text-field>

                  <v-text-field v-model="appointment_form.client.email" label="Email del cliente"></v-text-field>
                  <v-text-field
                    v-model="appointment_form.client.tel"
                    id="tel"
                    placeholder="Numero de telefono"
                    required
                    type="tel"
                  ></v-text-field>
                </v-flex>
                <v-autocomplete
                  v-else
                  label="Selecciona a un cliente"
                  :items="clients"
                  v-model="client_selected"
                ></v-autocomplete>

                <v-text-field
                  v-model.trim="appointment_form.flowOrder"
                  label="Flow Order"
                  disabled
                  box
                ></v-text-field>

                <v-select
                  v-model="appointment_form.service_id"
                  :rules="[rules.select_required]"
                  :items="services"
                  label="Servicio"
                  item-text="title"
                  item-value="id"
                  no-data-text="No hay servicios registrados en el sistema"
                  @change="appointment_form.service = services.find(value => value.id == appointment_form.service_id)"
                ></v-select>

                <v-dialog
                  v-model="appointment_date_modal"
                  ref="date_modal"
                  :return-value.sync="appointment_form.appointment_date"
                  color="purple darken-4"
                  persistent
                  lazy
                  full-width
                  width="290px"
                  @input="input_date"
                  v-if="appointmentAgendable"
                >
                  <v-text-field
                    slot="activator"
                    :value="appointment_form.appointment_date | date"
                    label="Fecha"
                    readonly
                  ></v-text-field>
                  <v-date-picker locale="es" v-model="appointment_form.appointment_date" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="appointment_date_modal = false">Cancelar</v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="$refs.date_modal.save(appointment_form.appointment_date)"
                    >OK</v-btn>
                  </v-date-picker>
                </v-dialog>

                <v-select
                  v-if="appointmentAgendable"
                  id="turn_picker"
                  v-model="appointment_form.appointment_turn"
                  :rules="[rules.select_required]"
                  :items="available_turns"
                  no-data-text="No hay turnos disponibles para la fecha seleccionada"
                  label="Seleccione una hora"
                  style="width: 100%"
                  box
                ></v-select>

                <v-switch
                  v-model="appointment_form.spell_finished"
                  :label="appointment_form.spell_finished ? 'Hechizo realizado' : 'Hechizo pendiente'"
                ></v-switch>
                <v-dialog
                  v-model="appointment_date_modal"
                  ref="date_modal"
                  :return-value.sync="appointment_form.spell_date"
                  color="purple darken-4"
                  persistent
                  lazy
                  full-width
                  width="290px"
                  @input="input_date"
                  v-if="appointment_form.spell_finished"
                >
                  <v-text-field
                    slot="activator"
                    :value="appointment_form.spell_date | date"
                    label="Fecha"
                    readonly
                  ></v-text-field>
                  <v-date-picker locale="es" v-model="appointment_form.spell_date" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="appointment_date_modal = false">Cancelar</v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="$refs.date_modal.save(appointment_form.spell_date)"
                    >OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="purple darken-4"
                class="white--text"
                @click="submitAppointment"
                :disabled="second_form_uncomplete"
                :loading="loading"
              >Actualizar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog persistent v-model="client_info" max-width="700px">
          <v-card class="elevation-24">
            <v-card-title>
              <span class="headline">Ficha de cliente</span>
              <v-spacer></v-spacer>
              <v-icon style="cursor: pointer;" @click="client_info = false">close</v-icon>
            </v-card-title>

            <v-card-text>
              <v-switch v-model="editmode" :label="editmode ? 'Editar cliente' : 'Ver cliente'"></v-switch>
              <v-tabs v-model="tab" color="#222222" dark centered hide-slider>
                <v-tab key="1" ripple>
                  Datos del cliente
                  <v-fab-transition>
                    <v-icon color="red" v-show="!forms[0].valid">error_outline</v-icon>
                  </v-fab-transition>
                </v-tab>
                <v-tab key="2" ripple>Problemas</v-tab>
                <v-tab key="3" ripple>Hechizos</v-tab>
                <v-tab-item key="1">
                  <v-card flat>
                    <v-card-text>
                      <v-form ref="form" lazy-validation>
                        <v-text-field
                          v-model.trim="client_form.name"
                          label="Nombre"
                          name="name"
                          :disabled="!editmode"
                          :rules="[rules.required]"
                        ></v-text-field>
                        <v-text-field
                          v-model.trim="client_form.lastname"
                          label="Apellido"
                          name="lastname"
                          :disabled="!editmode"
                          :rules="[rules.required]"
                        ></v-text-field>
                        <v-layout>
                          <v-flex>
                            <div
                              v-if="editmode"
                              style="border-bottom: 1px solid #949494; margin: .7em 0 1.4em;"
                            >
                              <flat-pickr
                                aria-label="Fecha de nacimiento"
                                required="required"
                                v-model="client_form.birthdate"
                                placeholder="Fecha de nacimiento"
                                style="font-size: 1.15em; font-weight: 400; margin-bottom: .2em"
                                :config="birthdate"
                              ></flat-pickr>
                            </div>
                            <v-text-field disabled v-else :value="formatted_birthdate"></v-text-field>
                          </v-flex>
                          <transition name="fade">
                            <v-flex
                              v-show="birthdateIsNotEmpty"
                              xs1
                              style="display: flex;
                                align-items: center;
                                text-align: center;
                                justify-content: center;
                                background-color: #4a148c;
                                border-radius: 1em;
                                margin-bottom: 1em;
                                margin-left: 1em;
                                cursor: pointer;"
                            >
                              <transition name="fade">
                                <v-tooltip top>
                                  <span
                                    slot="activator"
                                    class="zodiac_symbol"
                                    style="font-size: 3em; color: white;"
                                  >{{ birthdateSelected.value }}</span>
                                  <span>{{ birthdateSelected.name }}</span>
                                </v-tooltip>
                              </transition>
                            </v-flex>
                          </transition>
                        </v-layout>
                        <v-text-field
                          v-model="client_form.email"
                          label="Email"
                          name="email"
                          type="email"
                          :disabled="!editmode"
                        ></v-text-field>
                        <v-text-field
                          v-model="client_form.city"
                          :disabled="!editmode"
                          label="Ciudad"
                          name="city"
                        ></v-text-field>
                        <v-container fluid pa-0>
                          <v-layout>
                            <v-flex xs6>
                              <v-text-field
                                type="number"
                                min="0"
                                label="Hijos"
                                name="boys"
                                v-model="client_form.boys"
                                :rules="[rules.number]"
                                :disabled="!editmode"
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs6>
                              <v-text-field
                                type="number"
                                min="0"
                                label="Hijas"
                                name="girls"
                                v-model="client_form.girls"
                                :rules="[rules.number]"
                                :disabled="!editmode"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-form>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
                <v-tab-item key="2">
                  <v-card flat>
                    <v-card-text>
                      <v-form ref="problems">
                        <v-data-table
                          :headers="problems_headers"
                          :items="client_form.problems"
                          rows-per-page-text="Resultados por pagina"
                          no-data-text="Este cliente no tiene problemas registrados"
                          hide-actions
                          disable-initial-sort
                        >
                          <template slot="items" slot-scope="props">
                            <td>
                              <v-menu
                                :close-on-content-click="false"
                                v-model="multipleMenu2[props.index]"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px"
                                :disabled="!editmode"
                              >
                                <v-text-field
                                  slot="activator"
                                  :value="props.item.date | date"
                                  label="Fecha"
                                  readonly
                                  style="text-align: center;"
                                  :disabled="!editmode"
                                ></v-text-field>
                                <v-date-picker
                                  v-model="props.item.date"
                                  locale="es"
                                  @input="menu2 = false"
                                  :disabled="!editmode"
                                ></v-date-picker>
                              </v-menu>
                            </td>
                            <td>
                              <v-textarea
                                v-model="props.item.description"
                                label="Descripción"
                                auto-grow
                                rows="2"
                                :disabled="!editmode"
                              ></v-textarea>
                            </td>
                            <td>
                              <v-icon small @click="removeProblem(props.index)">delete</v-icon>
                            </td>
                          </template>
                        </v-data-table>

                        <v-layout>
                          <v-flex justify-center class="text-xs-center">
                            <v-btn
                              color="#222222"
                              @click="addProblem"
                              v-if="editmode"
                              dark
                            >Añadir problema</v-btn>
                          </v-flex>
                        </v-layout>
                      </v-form>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
                <v-tab-item key="3">
                  <v-card flat>
                    <v-card-text>
                      <v-data-table
                        :headers="spells_headers"
                        :items="client_form.appointments"
                        rows-per-page-text="Resultados por pagina"
                        no-data-text="Este cliente no tiene hechizos registrados"
                        hide-actions
                        disable-initial-sort
                      >
                        <template slot="items" slot-scope="props">
                          <td>
                            <v-menu
                              :close-on-content-click="false"
                              v-model="multipleMenu[props.index]"
                              :nudge-right="40"
                              lazy
                              transition="scale-transition"
                              offset-y
                              full-width
                              min-width="290px"
                              :disabled="!editmode || !props.item.spell_finished"
                            >
                              <v-text-field
                                slot="activator"
                                :value="props.item.spell_date | date"
                                label="Fecha"
                                readonly
                                style="text-align: center;"
                                :disabled="!editmode || !props.item.spell_finished"
                              ></v-text-field>
                              <v-date-picker
                                v-model="props.item.spell_date"
                                locale="es"
                                @input="menu2 = false"
                                :disabled="!editmode || !props.item.spell_finished"
                              ></v-date-picker>
                            </v-menu>
                          </td>
                          <td>
                            <v-autocomplete
                              v-model="props.item.service_id"
                              :items="servicesNonAgendables"
                              item-value="id"
                              item-text="title"
                              :disabled="!editmode"
                            ></v-autocomplete>
                          </td>
                          <td>
                            <v-switch
                              v-model="props.item.spell_finished"
                              :label="props.item.spell_finished ? 'Si' : 'No'"
                              :disabled="!editmode"
                            ></v-switch>
                          </td>
                          <td>
                            <v-icon small @click="removeSpell(props.index)">delete</v-icon>
                          </td>
                        </template>
                      </v-data-table>
                      <v-layout>
                        <v-flex justify-center class="text-xs-center">
                          <v-btn
                            color="#222222"
                            @click="addSpell"
                            dark
                            :disabled="!editmode"
                          >Añadir hechizo</v-btn>
                          <p
                            v-if="!editmode && client_form.appointments.length == 0"
                          >Lo siento, no hay hechizos registrados</p>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
              </v-tabs>
            </v-card-text>
            <v-card-actions>
              <v-container style="display: flex; justify-content: space-around;">
                <v-btn color="red" dark @click="client_info = false">Cerrar</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="purple darken-4" v-if="editmode" dark @click="submitClient">Actualizar</v-btn>
              </v-container>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-flex mt-3 offset-xs1 xs10 offset-md2 md8>
          <v-card class="elevation-12">
            <v-card-title style="justify-content: center">
              <h3>¡Bienvenido!</h3>
            </v-card-title>
            <v-card-text>
              <p class="text-xs-center">Estadísticas de hoy {{ currentDate }}</p>

              <v-layout class="mt-5">
                <v-flex xs4>
                  <p class="text-xs-center">Atendidos: {{ todayAppointmentStatus.finished }}</p>
                </v-flex>
                <v-flex xs4>
                  <p class="text-xs-center">Por atender: {{ todayAppointmentStatus.pending }}</p>
                </v-flex>
                <v-flex xs4>
                  <p class="text-xs-center">Total: {{ todayAppointmentStatus.total }}</p>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout mt-3 align-center wrap>
        <v-flex offset-xs1 xs10 offset-md2 md8>
          <v-card class="elevation-12">
            <v-toolbar color="purple darken-4">
              <v-tabs
                grow
                color="purple darken-4"
                v-model="tab_resume"
                centered
                slider-color="#F9F9F9"
              >
                <v-tab
                  class="white--text"
                  key="appointments"
                  href="#tab-appointments"
                >Citas pendientes</v-tab>
                <v-tab class="white--text" key="spells" href="#tab-spells">Hechizos pendientes</v-tab>
              </v-tabs>
            </v-toolbar>
            <v-card-text>
              <v-tabs-items v-model="tab_resume">
                <v-tab-item key="appointments" value="tab-appointments">
                  <v-data-table
                    :loading="appointments.loading"
                    :headers="appointments.headers"
                    :items="appointments.items"
                    rows-per-page-text="Resultados por pagina"
                    no-data-text="No hay citas pendientes"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-center">{{ props.item.full_name }}</td>
                      <td class="text-xs-center">{{ props.item.appointment_date }}</td>
                      <td class="text-xs-center">{{ props.item.appointment_turn }}</td>
                      <td class="text-xs-center">{{ props.item.title }}</td>
                      <td class="text-xs-center">{{ props.item.tel }}</td>
                      <td class="text-xs-center">
                        <v-tooltip top>
                          <v-icon
                            slot="activator"
                            @click="showClientInfo(props.item)"
                            small
                          >visibility</v-icon>Ver ficha cliente
                        </v-tooltip>
                        <v-tooltip top>
                          <v-icon slot="activator" @click="editAppointment(props.item)" small>edit</v-icon>Editar cita
                        </v-tooltip>
                        <v-tooltip top>
                          <v-icon
                            slot="activator"
                            @click="deleteAppointment(props.item)"
                            small
                          >delete</v-icon>Eliminar cita
                        </v-tooltip>
                      </td>
                    </template>
                    <template
                      slot="pageText"
                      slot-scope="props"
                    >Resultados {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}</template>
                  </v-data-table>
                </v-tab-item>
                <v-tab-item key="spells" value="tab-spells">
                  <v-data-table
                    :loading="spells.loading"
                    :headers="spells.headers"
                    :items="spells.items"
                    rows-per-page-text="Resultados por pagina"
                    no-data-text="No hay hechizos pendientes"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-center">{{ props.item.full_name }}</td>
                      <td class="text-xs-center">{{ props.item.title }}</td>
                      <td class="text-xs-center">{{ props.item.tel }}</td>
                      <td class="text-xs-center">
                        <v-tooltip top>
                          <v-icon
                            slot="activator"
                            @click="showClientInfo(props.item)"
                            small
                          >visibility</v-icon>Ver ficha cliente
                        </v-tooltip>
                        <v-tooltip top>
                          <v-icon slot="activator" @click="editAppointment(props.item)" small>edit</v-icon>Editar cita
                        </v-tooltip>
                        <v-tooltip top>
                          <v-icon
                            slot="activator"
                            @click="deleteAppointment(props.item)"
                            small
                          >delete</v-icon>Eliminar cita
                        </v-tooltip>
                      </td>
                    </template>
                    <template
                      slot="pageText"
                      slot-scope="props"
                    >Resultados {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}</template>
                  </v-data-table>
                </v-tab-item>
              </v-tabs-items>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-content>
  </div>
</template>
<script type="text/javascript">
import { getLocalUser } from "../../helpers/auth.js";
import { getZodiacSign } from "../../helpers/utils.js";
import flatPickr from "vue-flatpickr-component";
import { Spanish } from "flatpickr/dist/l10n/es";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import swal from "sweetalert2";
export default {
  components: {
    flatPickr
  },
  data() {
    return {
      appointments: {
        headers: [
          {
            text: "Nombre",
            align: "center",
            sortable: false,
            value: "full_name"
          },
          {
            text: "Fecha",
            value: "appointment_date",
            align: "center",
            sortable: true
          },
          {
            value: "appointment_turn",
            text: "Hora",
            align: "center",
            sortable: false
          },
          {
            value: "title",
            text: "Servicio",
            align: "center",
            sortable: false
          },
          {
            value: "tel",
            text: "Telefono",
            align: "center",
            sortable: false
          },
          {
            value: "actions",
            text: "Acciones",
            sortable: false,
            align: "left"
          }
        ],
        items: [],
        loading: false
      },
      spells: {
        headers: [
          {
            text: "Nombre",
            align: "center",
            sortable: false,
            value: "full_name"
          },
          {
            value: "title",
            text: "Servicio",
            align: "center",
            sortable: false
          },
          {
            value: "tel",
            text: "Telefono",
            align: "center",
            sortable: false
          },
          {
            value: "actions",
            text: "Acciones",
            sortable: false,
            align: "left"
          }
        ],
        items: [],
        loading: false
      },
      user: {
        email: ""
      },
      tab_resume: null,
      interval: "",
      description: "",
      dialog: false,
      client_info: false,
      rules: {
        required: value => !!value || "Este campo es requerido.",
        number: value =>
          !value ||
          (value >= 0 && !isNaN(value) && value % 1 === 0) ||
          "Ingrese una cantidad válida.",
        select_required: value =>
          !!value || value === 0 || "Debe seleccionar un turno."
      },
      services: [],
      multipleMenu: [],
      tab: null,
      zodiac_symbols: {
        capricornio: {
          value: "J",
          name: "Capricornio",
          description: ""
        },
        acuario: {
          value: "K",
          name: "Acuario",
          description: ""
        },
        piscis: {
          value: "L",
          name: "Piscis",
          description: ""
        },
        aries: {
          value: "A",
          name: "Aries",
          description: ""
        },
        tauro: {
          value: "B",
          name: "Tauro",
          description: ""
        },
        geminis: {
          value: "C",
          name: "Géminis",
          description: ""
        },
        cancer: {
          value: "D",
          name: "Cáncer",
          description: ""
        },
        leo: {
          value: "E",
          name: "Leo",
          description: ""
        },
        virgo: {
          value: "F",
          name: "Virgo",
          description: ""
        },
        libra: {
          value: "G",
          name: "Libra",
          description: ""
        },
        escorpio: {
          value: "H",
          name: "Escorpio",
          description: ""
        },
        sagitario: {
          value: "I",
          name: "Sagitario",
          description: ""
        }
      },
      forms: [{ valid: true }, { valid: true }, { valid: true }],
      client_form: {
        name: "",
        lastname: "",
        birthdate: "",
        email: "",
        boys: 0,
        girls: 0,
        city: "",
        problems: [],
        appointments: []
      },
      appointment_form: {
        client: {
          id: null,
          name: "",
          lastname: "",
          email: "",
          tel: "",
          birthdate: "",
          boys: 0,
          girls: 0,
          city: ""
        },
        appointment_date: "",
        appointment_turn: 0,
        service_id: null,
        service: { agendable: true },
        spell_finished: false,
        spell_date: ""
      },
      problems_headers: [
        {
          value: "date",
          text: "Fecha",
          align: "left",
          sortable: true
        },
        {
          value: "description",
          text: "Descripción",
          align: "left",
          sortable: true
        },
        {
          value: "actions",
          text: "Acciones",
          align: "left",
          sortable: false
        }
      ],
      spells_headers: [
        {
          value: "spell_date",
          text: "Fecha",
          align: "left",
          sortable: true
        },
        {
          value: "service_id",
          text: "Servicio",
          align: "left",
          sortable: true
        },
        {
          value: "spell_finished",
          text: "Fue realizado?",
          align: "left",
          sortable: true
        },
        {
          value: "actions",
          text: "Acciones",
          align: "left",
          sortable: false
        }
      ],
      multipleMenu: [],
      multipleMenu2: [],
      menu: false,
      editmode: false,
      newClient: false,
      appointment_date_modal: false,
      appointment_dialog: false,
      client_selected: null,
      available_turns: [],
      loading: false,
      clients: [],
      todayAppointmentStatus: {
        total: 0,
        finished: 0,
        pending: 0
      }
    };
  },
  methods: {
    loadAsync: function() {
      this.interval = setInterval(() => {
        this.load();
      }, 1000 * 60);
    },
    load() {
      this.appointments.loading = true;
      this.spells.loading = true;
      axios.get("/api/appointments/resume").then(response => {
        let appointments = response.data.appointments;
        this.appointments.items = appointments;
        this.appointments.loading = false;
      });

      axios
        .get("/api/appointments/nextSpells")
        .then(({ data: { appointments } }) => {
          this.spells.items = appointments;
          this.spells.loading = false;
        });
    },
    showClientInfo(item) {
      axios
        .get(`/api/clients/${item.client_id}`)
        .then(({ data: { client } }) => {
          this.client_form = client;
          this.client_info = true;
        });
    },
    input_date() {
      axios
        .get(
          `/api/appointment/admin-select-available/${
            this.appointment_form.appointment_date
          }/${
            this.appointment_form.appointment_turn
              ? this.appointment_form.appointment_turn
              : ""
          }`
        )
        .then(response => {
          this.available_turns = response.data.available;
        });
    },
    getZodiacSign: getZodiacSign,
    submitClient() {
      if (this.$refs.form.validate()) {
        this.forms[0].valid = true;
        let formdata = this.client_form;
        formdata.problems = formdata.problems.filter(
          value => value.date || value.description
        );
        formdata.appointments = formdata.appointments.filter(
          value => value.service_id
        );
        axios.put(`/api/clients/${formdata.id}`, formdata).then(response => {
          if (response.status == 200) {
            swal({
              type: "success",
              title: "Bien!",
              text:
                "Ha logrado actualizar el servicio seleccionado correctamente"
            }).then(() => {
              this.close();
              this.client_info = false;
            });
          } else {
            swal({
              type: "error",
              title: "Oops...",
              text: "Algo malo ocurrió... Respuesta http: " + response.status
            });
          }
        });
      } else {
        this.forms[0].valid = false;
        this.tab = 0;
      }
    },
    addProblem() {
      this.client_form.problems.push({
        date: "",
        description: ""
      });
    },
    removeProblem(index) {
      swal
        .fire({
          title: "¿Deseas eliminar este problema?",
          text:
            "Puedes revertir la eliminación del problema si cierras el modal o abandonas la página sin guardar los cambios.",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Eliminar",
          cancelButtonText: "Cancelar"
        })
        .then(result => {
          if (result.value) {
            this.client_form.problems.splice(index, 1);
            swal.fire("Eliminado", "El problema ha sido eliminado.", "success");
          }
        });
    },
    removeSpell(index) {
      swal
        .fire({
          title: "¿Deseas eliminar este hechizo?",
          text:
            "Puedes revertir la eliminación del hechizo si cierras el modal o abandonas la página sin guardar los cambios.",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Eliminar",
          cancelButtonText: "Cancelar"
        })
        .then(result => {
          if (result.value) {
            this.client_form.appointments.splice(index, 1);
            swal.fire("Eliminado", "El hechizo ha sido eliminado.", "success");
          }
        });
    },
    addSpell() {
      this.client_form.appointments.push({ id: null });
    },
    close() {
      this.client_form = {
        name: "",
        lastname: "",
        birthdate: "",
        email: "",
        boys: 0,
        girls: 0,
        city: "",
        problems: [],
        appointments: []
      };

      this.editmode = false;

      this.appointment_form = {
        client: {
          id: null,
          name: "",
          lastname: "",
          email: "",
          tel: "",
          birthdate: "",
          boys: 0,
          girls: 0,
          city: ""
        },
        appointment_date: "",
        appointment_turn: 0,
        service_id: null,
        service: { agendable: true }
      };
      this.load();
    },
    editAppointment(item) {
      axios.get(`/api/appointments/${item.id}`).then(response => {
        this.appointment_form = response.data.appointment;
        this.newClient = false;
        this.client_selected = this.appointment_form.client.id;
        this.appointment_dialog = true;
        this.input_date();
      });
    },
    deleteAppointment(item) {
      swal({
        title: "¿Está seguro?",
        text: "¿Desea eliminar esta cita?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          axios.delete(`/api/appointments/${item.id}`).then(response => {
            if (response.status == 204) {
              swal(
                "¡Eliminado!",
                "La cita ha sido eliminada correctamente.",
                "success"
              ).then(() => {
                this.load();
              });
            } else {
              swal(
                "¡Ha ocurrido un error!",
                `HTTP STATUS: ${response.status}`,
                "error"
              );
            }
          });
        } else {
          swal("¡Cancelado!", "El usuario no fue eliminado.", "success");
        }
      });
    },
    submitAppointment() {
      if (this.$refs.appointment_form.validate()) {
        this.loading = true;
        axios
          .put(`/api/appointment/${this.appointment_form.id}`, {
            client_name: this.appointment_form.client.name,
            client_lastname: this.appointment_form.client.lastname,
            client_email: this.appointment_form.client.email,
            tel: this.appointment_form.client.tel,
            appointment_date: this.appointment_form.appointment_date,
            appointment_turn: this.appointment_form.appointment_turn,
            service_id: this.appointment_form.service_id,
            newClient: this.newClient,
            client_selected: this.client_selected,
            spell_date: this.appointment_form.spell_date,
            spell_finished: this.appointment_form.spell_finished
          })
          .then(response => {
            if (response.status == 200) {
              swal({
                type: "success",
                title: "Bien!",
                text: "Ha logrado actualizar la cita seleccionada correctamente"
              }).then(result => {
                this.appointment_dialog = false;
                this.load();
                this.loading = false;
              });
            } else {
              swal({
                type: "error",
                title: "Oops...",
                text: "Algo malo ocurrió... Respuesta http: " + response.status
              });
              this.load();
              this.loading = false;
            }
          });
      }
    }
  },
  watch: {
    client_info(val) {
      return val || this.close();
    },
    appointment_dialog(val) {
      return val || this.close();
    }
  },
  computed: {
    birthdate() {
      return {
        locale: Spanish,
        maxDate: "today",
        dateFormat: "Y-m-d",
        altFormat: "d/m/Y",
        altInput: true
      };
    },
    formatted_birthdate() {
      if (this.client_form.birthdate == undefined) {
        return "";
      }
      return moment(this.client_form.birthdate).format("DD/MM/YYYY");
    },
    currentDate() {
      return moment().format("DD/MM/YYYY");
    },
    currentUser() {
      return this.$store.state.currentUser;
    },
    birthdateSelected() {
      let birthdate = this.client_form.birthdate;

      if (birthdate) {
        if (birthdate.length < 8) {
          return "";
        } else {
          return this.zodiac_symbols[
            this.getZodiacSign(this.client_form.birthdate).toLowerCase()
          ];
        }
      } else {
        return "";
      }
    },
    birthdateIsNotEmpty() {
      return this.client_form.birthdate
        ? this.client_form.birthdate.length > 0
        : false;
    },
    servicesNonAgendables() {
      if (this.services.length == 0) {
        return [];
      }
      return this.services.filter(value => !value.agendable);
    },
    appointmentAgendable() {
      return Boolean(this.appointment_form.service.agendable || false);
    },
    second_form_uncomplete: function() {
      let email_pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      let email_validation = false;
      if (this.appointment_form.client.email != null) {
        email_validation =
          this.appointment_form.client.email != "" &&
          this.appointment_form.client.email.search(email_pattern) == -1;
      } else {
        email_validation = false;
      }

      return (
        ((email_validation || this.appointment_form.client.name == "") &&
          this.newClient) ||
        (!this.newClient && this.client_selected == null)
      );
    }
  },
  created() {
    window.moment = moment;
    this.appointments.loading = true;
    axios.get("/api/appointments/resume").then(response => {
      let appointments = response.data.appointments;
      this.appointments.items = appointments;
      this.appointments.loading = false;
    });
    axios.get("/api/services/").then(({ data: { services } }) => {
      this.services = services;
    });
    axios.get("/api/clients/select").then(response => {
      this.clients = response.data.clients;
    });
    axios.get("/api/appointment/getToday").then(({ data }) => {
      this.todayAppointmentStatus = data;
    });
    this.load();
  },
  filters: {
    turnToTime(value) {
      if (!value) return "";
      if (isNaN(value)) return "";
      value = parseInt(value);
      let hour = Math.floor(value / 2);
      return `${hour > 9 ? hour : "0" + hour}:${value % 2 == 0 ? "00" : "30"}`;
    },
    date(date) {
      if (date == null) {
        return "";
      }
      return date
        .split("-")
        .reverse()
        .join("/");
    },
    humanizeBoolean(value) {
      return value ? "Si" : "No";
    }
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
};
</script>
<style>
.flatpickr-input {
  font-size: 1.15em !important;
  font-weight: 400 !important;
  margin-bottom: 0.2em !important;
  width: 100%;
}
</style>
