<template>
  <v-content>
    <v-layout fluid fill-height align-center>
      <v-flex offset-md1 md10 xs12>
        <v-card>
          <v-card-title class="justify-center">
            <span class="headline wow rubberBand">Disponibilidad</span>
          </v-card-title>
          <v-card-text>
            <div id="planner_container">
              <div id="showSelection">{{ selected }}</div>
              <div v-for="day in default_dates" :key="day.weekday" class="planner_row">
                <p class="day_title">
                  <strong>{{ day.day_title }}</strong>
                </p>
                <v-tooltip
                  v-ripple
                  bottom
                  v-for="(turn, index) in day.day_data"
                  :key="day.weekday + '-' + index"
                  class="clickable"
                >
                  <div class="planner_cell" slot="activator">
                    <div
                      :class="day.day_data[index] ? 'active' : 'inactive'"
                      @click="changeBlock(day.weekday,index,$event)"
                    ></div>
                  </div>
                  {{ select(day.weekday,index) }}
                </v-tooltip>
              </div>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="purple darken-4" dark id="save" @click="save">Guardar Cambios</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-content>
</template>

<script>
import {
  getNextTurn,
  getStartTimeFromIndex,
  getEndTimeFromIndex
} from "../../helpers/utils";
var timezone = require("moment-timezone");
var moment = require("moment");
import swal from "sweetalert2";

export default {
  name: "Defaults",
  data() {
    return {
      default_dates: [],
      selected: "",
      weekdays: [
        "Lunes",
        "Martes",
        "Miercoles",
        "Jueves",
        "Viernes",
        "Sabado",
        "Domingo"
      ]
    };
  },
  methods: {
    select(weekday, index) {
      return `${this.weekdays[weekday]} - ${getStartTimeFromIndex(
        index
      )} - ${getEndTimeFromIndex(index)}`;
    },
    changeBlock(weekday, index, event) {
      let value = this.default_dates[weekday].day_data[index];

      this.default_dates[weekday].day_data[index] = !value;

      if (!value == true) {
        event.target.classList.remove("inactive");
        event.target.classList.add("active");
      } else {
        event.target.classList.remove("active");
        event.target.classList.add("inactive");
      }
    },
    isThisActive(weekday, index) {
      return this.default_dates[weekday].day_data[index];
    },
    save() {
      swal({
        title: "¿Está seguro?",
        text:
          "Al guardar esta nueva configuración, la anterior será reemplazada.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Está Bien",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value) {
          let data = [];
          this.default_dates.forEach((value, index) => {
            data.push({
              weekday: value.weekday,
              day_data: value.day_data
            });
          });

          data = JSON.stringify(data);

          axios.post("/api/defaultdate", { data: data }).then(response => {
            if (response.status == 200) {
              swal(
                "¡Exito!",
                "La configuración se ha guardado correctamente.",
                "success"
              );
            } else {
              swal("¡Lo sentimos!", "Ha ocurrido un error.", "error");
            }
          });
        } else {
          swal("¡Cancelado!", "La configuración no fue cambiada.", "success");
        }
      });
    }
  },
  created() {
    axios.get("/api/defaultdate").then(response => {
      response.data.defaultDates.forEach(element => {
        this.default_dates.push({
          weekday: element.weekday,
          day_data: JSON.parse(element.day_data),
          day_title: this.weekdays[element.weekday]
        });
      });
    });
  },
  computed: {}
};
</script>

<style scoped>
#schedule_subcontainer {
  margin-top: 3vh;
}

.clickable {
  cursor: pointer;
}

#turn_input {
  display: flex;
  justify-content: center;
}

#turn_picker {
  min-width: 25vw;
}

#turn_picker select {
  text-align: center;
}

#button_container_modal {
  display: flex;
  justify-content: space-between;
}

.v-fade {
  display: inherit; /* override v-show display: none */
  transition: opacity 1s;
}

.v-fade[style*="display: none;"] {
  opacity: 0;
  pointer-events: none; /* disable user interaction */
  user-select: none; /* disable user selection */
}

.blur {
  filter: blur(5px);
}

#loading_message {
  z-index: 999;
  position: absolute;
}

#planner_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.planner_row {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.day_title {
  min-width: 10vw;
  margin: 0;
  text-align: center;
}

.planner_cell div {
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  transition: ease 1s;
}

.planner_cell div:hover {
  transform: scale(1.5);
}

.inactive {
  background-color: #ce4257;
}

.active {
  background-color: #cff27e;
}

#save {
  align-self: center;
}

#showSelection {
  text-align: center;
  flex: 1 0 100%;
}

@media (max-width: 801px) {
  #planner_container {
    flex-direction: row;
    justify-content: space-around;
  }

  .planner_row {
    flex-direction: column;
    min-width: 10vw;
  }

  .planner_cell div {
    width: 2.5rem;
    height: 2.5rem;
  }

  #save {
    flex: 1 0 100%;
  }

  .planner_cell div {
    border-radius: 10px;
  }
}
</style>
