<template>
  <v-content fluid fill-height>
    <v-layout align-center justify-center fill-height>
      <v-flex md4 sm8 xs10>
        <v-card class="elevation-12">
          <v-toolbar dark color="purple darken-4">
            <v-toolbar-title>Inicio de Sesión</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="form.email"
                :rules="[rules.required]"
                type="text"
                name="email"
                label="Email"
                prepend-icon="email"
              ></v-text-field>
              <v-text-field
                v-model="form.password"
                :append-icon="showpass ? 'visibility_off' : 'visibility'"
                :rules="[rules.required]"
                :type="showpass ? 'text' : 'password'"
                name="password"
                label="Contraseña"
                prepend-icon="lock"
                @click:append="showpass = !showpass"
              ></v-text-field>
              <v-alert :value="error != null">{{ errorMessage }}</v-alert>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="purple darken-4" dark @click="submit" :loading="loading">Entrar</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-content>
</template>

<script type="text/javascript">
import { login } from "../../helpers/auth.js";

export default {
  data() {
    return {
      form: {
        email: "",
        password: ""
      },
      valid: false,
      error: null,
      success: false,
      showpass: false,
      rules: {
        required: value => !!value || "Este campo es requerido."
      },
      loading: false
    };
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.authenticate();
      }
    },
    authenticate() {
      this.$store.dispatch("login");
      this.error = null;
      this.loading = true;

      login(this.form)
        .then(res => {
          this.$store.commit("loginSuccess", res);
          this.$router.push({ path: "/admin/dashboard" });
          this.loading = false;
        })
        .catch(err => {
          this.error = err;
          this.$store.commit("loginFailed", { err });
          this.loading = false;
        });
    }
  },
  computed: {
    authError() {
      return this.$store.getters.authError;
    },
    errorMessage() {
      if (this.error) {
        if (this.error.status == 401) {
          return "Email o contraseña inválidos.";
        } else if (this.error.status == 423) {
          return this.error.data.error;
        } else {
          return this.error.statusText;
        }
      } else {
        return "";
      }
    }
  }
};
</script>

<style type="text/css" scoped>
input,
input::placeholder {
  text-align: center;
}

#login-button-submit {
  margin: auto;
}

#form_login {
  margin: 0 3em;
}

.card-header {
  text-align: center;
}
</style>