<template id="p">
  <v-app id="main">
    <AdminHeader id="f" ref="navbar"></AdminHeader>
    <router-view></router-view>
  </v-app>
</template>

<style>
#main {
  display: flex;
  flex-direction: column;
}
</style>

<script>
import AdminHeader from "./AdminHeader";
import store from "../../store/";
export default {
  name: "admin-app",
  store,
  components: { AdminHeader },
  data() {
    return {};
  }
};
</script>