<template>
  <v-content>
    <v-layout fill-height align-center pa-5 wrap>
      <v-flex offset-sm1 sm10>
        <v-card id="card" class="elevation-12">
          <h1 class="mt-3 text-xs-center">Galeria de Información</h1>
          <div style="display:flex; justify-content:flex-end">
            <v-dialog v-model="dialog" max-width="500px" persistent>
              <v-btn dark slot="activator" color="purple darken-4">Añadir cuadro de información</v-btn>
              <v-card class="elevation-24">
                <v-card-title>
                  <span class="headline">{{ title }}</span>
                  <v-spacer></v-spacer>
                  <v-icon @click="dialog = false">close</v-icon>
                </v-card-title>

                <v-card-text>
                  <v-form ref="form" lazy-validation>
                    <v-text-field
                      v-model.trim="form.title"
                      label="Titulo"
                      name="titulo"
                      :rules="[rules.required]"
                    ></v-text-field>

                    <v-textarea
                      v-model.trim="form.description"
                      label="Descripción"
                      name="descripcion"
                      auto-grow
                      rows="1"
                    ></v-textarea>

                    <v-flex xs12>
                      <v-subheader class="pl-0">Prioridad</v-subheader>
                      <v-slider
                        :max="255"
                        :min="0"
                        v-model="form.priority"
                        color="purple darken-4"
                        thumb-label
                      ></v-slider>
                    </v-flex>

                    <v-flex justify-center>
                      <img
                        v-show="form.show_image"
                        :src="form.image"
                        style="margin: 2em auto; display:block; height: 30vh"
                      >
                      <v-progress-circular v-if="loading_image" size="32" indeterminate></v-progress-circular>
                    </v-flex>

                    <v-flex>
                      <upload-btn
                        :fileChangedCallback="fileChanged"
                        title="Seleccionar imagen"
                        accept="image/*"
                        color="secondary"
                        dark
                      ></upload-btn>
                    </v-flex>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="purple darken-4" dark @click="submit">{{ buttonSubmit }}</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-snackbar
              v-model="fileError"
              color="error"
              :timeout="5000"
              :top="true"
            >Error: Debe seleccionar una imagen
              <v-btn dark flat @click="fileError = false">Cerrar</v-btn>
            </v-snackbar>
          </div>
          <v-card-text>
            <v-data-table
              :loading="services.loading"
              :headers="services.headers"
              :items="services.content"
              rows-per-page-text="Resultados por pagina"
              no-data-text="No hay registros"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.title }}</td>
                <td>{{ props.item.description }}</td>
                <td>
                  <img :src="'/img/services/' + props.item.image_name" height="100px">
                </td>
                <td>{{props.item.priority}}</td>
                <td>
                  <v-icon small class="mr-2" @click="edit(props.item)">edit</v-icon>
                  <v-icon small @click="delItem(props.item)">delete</v-icon>
                </td>
              </template>
              <template
                slot="pageText"
                slot-scope="props"
              >Resultados {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}</template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-content>
</template>
<script type="text/javascript">
import { dom } from "@fortawesome/fontawesome-svg-core";

dom.watch();

import { getLocalUser } from "../../helpers/auth.js";
import swal from "sweetalert2";
import UploadButton from "vuetify-upload-button";

export default {
  name: "ServicioFront",
  data() {
    return {
      services: {
        headers: [
          {
            value: "id",
            text: "Id",
            align: "left",
            sortable: true
          },
          {
            value: "title",
            text: "Titulo",
            align: "left",
            sortable: true
          },
          {
            value: "description",
            text: "Descripción",
            align: "left",
            sortable: false
          },
          {
            value: "image",
            text: "Imagen",
            align: "left",
            sortable: false
          },
          {
            value: "priority",
            text: "Prioridad",
            align: "left",
            sortable: true
          },
          {
            value: "actions",
            text: "Acciones",
            align: "left",
            sortable: false
          }
        ],
        loading: true,
        content: []
      },
      form: {
        id: null,
        title: "",
        description: "",
        image: "",
        image_name: "",
        show_image: false,
        priority: 0
      },
      loading_image: false,
      fileError: false,
      dialog: false,
      rules: {
        required: value => !!value || "Este campo es requerido."
      }
    };
  },
  methods: {
    edit(item, index) {
      axios.get(`/api/front_services/${item.id}`).then(response => {
        this.form = response.data.frontService;
        this.dialog = true;
        this.form.image = `/img/services/${this.form.image_name}`;
        this.getFileFromImageUrl(`/img/services/${this.form.image_name}`);
      });
    },
    delItem(item) {
      swal({
        title: "¿Está seguro?",
        text: "¿Desea eliminar este elemento?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          axios.delete(`/api/front_services/${item.id}`).then(response => {
            if (response.status == 204) {
              swal(
                "¡Eliminado!",
                "El registro ha sido eliminado correctamente.",
                "success"
              ).then(() => {
                this.load();
              });
            } else {
              swal(
                "¡Ha ocurrido un error!",
                `HTTP STATUS: ${response.status}`,
                "error"
              );
            }
          });
        } else {
          swal("¡Cancelado!", "El elemento no fue eliminado.", "success");
        }
      });
    },
    load() {
      axios.get("/api/front_services/").then(response => {
        let services = response.data.frontServices;
        this.services.content = services;
        this.services.loading = false;
      });
    },
    OnFormSubmitted() {
      this.dialog = false;
      this.load();
    },
    close() {
      setTimeout(() => {
        this.$refs.form.reset();
        this.form = {
          id: null,
          title: "",
          description: "",
          show_image: false,
          image: "",
          priority: 0
        };
      }, 300);
    },
    submit() {
      if (this.$refs.form.validate()) {
        if (this.form.image != "") {
          if (this.form.id === null) {
            axios
              .post("/api/front_services", {
                title: this.form.title,
                description: this.form.description,
                image: this.form.image,
                priority: this.form.priority
              })
              .then(response => {
                if (response.status == 201) {
                  swal({
                    type: "success",
                    title: "Bien!",
                    text: "Ha logrado registrar el elemento correctamente"
                  }).then(result => {
                    this.OnFormSubmitted();
                  });
                } else {
                  swal({
                    type: "error",
                    title: "Oops...",
                    text:
                      "Algo malo ocurrió... Respuesta http: " + response.status
                  });
                }
              });
          } else {
            axios
              .put(`/api/front_services/${this.form.id}`, {
                title: this.form.title,
                description: this.form.description,
                image: this.form.image,
                priority: this.form.priority
              })
              .then(response => {
                if (response.status == 200) {
                  swal({
                    type: "success",
                    title: "Bien!",
                    text:
                      "Ha logrado actualizar el elemento seleccionado correctamente"
                  }).then(result => {
                    this.OnFormSubmitted();
                  });
                } else {
                  swal({
                    type: "error",
                    title: "Oops...",
                    text:
                      "Algo malo ocurrió... Respuesta http: " + response.status
                  });
                }
              });
          }
        } else {
          this.fileError = true;
        }
      }
    },
    fileChanged(file) {
      if (file) {
        let validImageTypes = ["image/gif", "image/jpeg", "image/png"];

        if (validImageTypes.includes(file.type)) {
          this.loading_image = true;
          let reader = new FileReader();
          let vm = this;
          reader.onload = e => {
            vm.form.image = e.target.result;
            vm.loading_image = false;
          };
          reader.readAsDataURL(file);
        } else {
          this.form.image = "";
          this.fileError = true;
        }
      }
    },
    getFileFromImageUrl(url) {
      var request = new XMLHttpRequest();
      request.open("GET", url, true);
      request.responseType = "blob";
      let vm = this;
      request.onload = function() {
        var reader = new FileReader();
        reader.readAsDataURL(request.response);
        reader.onload = function(e) {
          vm.form.image = e.target.result;
        };
      };
      request.send();
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    image(val) {
      this.form.show_image = val != "";
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.currentUser;
    },
    buttonSubmit() {
      return this.form.id === null ? "Crear" : "Actualizar";
    },
    title() {
      return this.form.id === null
        ? "Añadir nuevo elemento"
        : `Editar elemento #${this.form.id}`;
    },
    image() {
      return this.form.image;
    }
  },
  created() {
    this.services.loading = true;
    this.load();
  },
  components: {
    "upload-btn": UploadButton
  }
};
</script>
<style scoped>
#services-container {
  margin-top: 3rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#card {
  padding: 1em;
}

#addService {
  margin-top: 0.5em;
  margin-bottom: 3rem;
  align-self: flex-end;
}
</style>
