<template>
  <v-content>
    <v-layout fill-height align-center pa-5 wrap>
      <v-flex offset-sm1 sm10>
        <v-card id="card" class="elevation-12">
          <h1 class="mt-3 text-xs-center">Listado de Servicios</h1>
          <div style="display:flex; justify-content:flex-end">
            <v-dialog v-model="dialog" max-width="500px">
              <v-btn dark slot="activator" color="purple darken-4">Añadir Servicio</v-btn>
              <v-card class="elevation-24">
                <v-card-title>
                  <span class="headline">{{ title }}</span>
                </v-card-title>

                <v-card-text>
                  <v-form ref="form" lazy-validation>
                    <v-text-field
                      v-model.trim="form.title"
                      label="Titulo"
                      name="titulo"
                      :rules="[rules.required]"
                    ></v-text-field>

                    <v-textarea
                      v-model.trim="form.description"
                      label="Descripción"
                      name="descripcion"
                      auto-grow
                      rows="1"
                    ></v-textarea>
                    <v-text-field
                      v-model="form.price"
                      label="Precio"
                      name="precio"
                      type="number"
                      min="0"
                      :rules="[rules.required,rules.price]"
                    ></v-text-field>
                    <v-switch
                      :label="form.agendable ? 'Servicio agendable' : 'Servicio no agendable'"
                      v-model="form.agendable"
                    ></v-switch>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="purple darken-4" dark @click="submit">{{ buttonSubmit }}</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <v-card-text>
            <v-data-table
              :loading="services.loading"
              :headers="services.headers"
              :items="services.content"
              rows-per-page-text="Resultados por pagina"
              no-data-text="No hay servicios registrados"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.title }}</td>
                <td>{{ props.item.description }}</td>
                <td>{{ props.item.price }}</td>
                <td>{{ props.item.agendable ? 'Si' : 'No' }}</td>
                <td>
                  <v-icon small class="mr-2" @click="edit(props.item)">edit</v-icon>
                  <v-icon small @click="delItem(props.item)">delete</v-icon>
                </td>
              </template>
              <template
                slot="pageText"
                slot-scope="props"
              >Resultados {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}</template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-content>
</template>
<script type="text/javascript">
import { dom } from "@fortawesome/fontawesome-svg-core";

dom.watch();

import { getLocalUser } from "../../helpers/auth.js";
import swal from "sweetalert2";

export default {
  name: "Servicio",
  data() {
    return {
      services: {
        headers: [
          {
            value: "id",
            text: "Id",
            align: "left",
            sortable: true
          },
          {
            value: "title",
            text: "Titulo",
            align: "left",
            sortable: true
          },
          {
            value: "description",
            text: "Descripción",
            align: "left",
            sortable: false
          },
          {
            value: "price",
            text: "Precio",
            align: "left",
            sortable: true
          },
          {
            value: "agendable",
            text: "Agendable",
            align: "left",
            sortable: "false"
          },
          {
            value: "actions",
            text: "Acciones",
            align: "left",
            sortable: false
          }
        ],
        loading: true,
        content: []
      },
      form: {
        id: null,
        title: "",
        description: "",
        price: 0,
        agendable: false
      },
      dialog: false,
      rules: {
        required: value => !!value || "Este campo es requerido.",
        price: value => value >= 0 || "El precio no puede ser negativo."
      }
    };
  },
  methods: {
    edit(item, index) {
      axios.get(`/api/services/${item.id}`).then(response => {
        this.form = response.data.service;
        this.dialog = true;
      });
    },
    delItem(item) {
      swal({
        title: "¿Está seguro?",
        text: "¿Desea eliminar este elemento?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          axios.delete(`/api/services/${item.id}`).then(response => {
            if (response.status == 204) {
              swal(
                "¡Eliminado!",
                "El registro ha sido eliminado correctamente.",
                "success"
              ).then(() => {
                this.load();
              });
            } else {
              swal(
                "¡Ha ocurrido un error!",
                `HTTP STATUS: ${response.status}`,
                "error"
              );
            }
          });
        } else {
          swal("¡Cancelado!", "El elemento no fue eliminado.", "success");
        }
      });
    },
    load() {
      axios.get("/api/services/").then(response => {
        let services = response.data.services;
        this.services.content = services;
        this.services.loading = false;
      });
    },
    OnFormSubmitted() {
      this.dialog = false;
      this.load();
    },
    close() {
      setTimeout(() => {
        this.$refs.form.reset();
        this.form = {
          id: null,
          title: "",
          description: "",
          price: 0
        };
      }, 300);
    },
    submit() {
      if (this.$refs.form.validate()) {
        if (this.form.id === null) {
          axios
            .post("/api/services", {
              title: this.form.title,
              description: this.form.description,
              price: this.form.price,
              agendable: this.form.agendable
            })
            .then(response => {
              if (response.status == 201) {
                swal({
                  type: "success",
                  title: "Bien!",
                  text: "Ha logrado registrar el servicio correctamente"
                }).then(result => {
                  this.OnFormSubmitted();
                });
              } else {
                swal({
                  type: "error",
                  title: "Oops...",
                  text:
                    "Algo malo ocurrió... Respuesta http: " + response.status
                });
              }
            });
        } else {
          axios
            .put(`/api/services/${this.form.id}`, {
              title: this.form.title,
              description: this.form.description,
              price: this.form.price,
              agendable: this.form.agendable
            })
            .then(response => {
              if (response.status == 200) {
                swal({
                  type: "success",
                  title: "Bien!",
                  text:
                    "Ha logrado actualizar el servicio seleccionado correctamente"
                }).then(result => {
                  this.OnFormSubmitted();
                });
              } else {
                swal({
                  type: "error",
                  title: "Oops...",
                  text:
                    "Algo malo ocurrió... Respuesta http: " + response.status
                });
              }
            });
        }
      }
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.currentUser;
    },
    buttonSubmit() {
      return this.form.id === null ? "Crear" : "Actualizar";
    },
    title() {
      return this.form.id === null
        ? "Añadir nuevo servicio"
        : `Editar servicio #${this.form.id}`;
    }
  },
  created() {
    this.services.loading = true;
    this.load();
  }
};
</script>
<style scoped>
#services-container {
  margin-top: 3rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#card {
  padding: 1em;
}

#addService {
  margin-top: 0.5em;
  margin-bottom: 3rem;
  align-self: flex-end;
}
</style>
