<template>
  <v-content>
    <v-layout align-center pa-5 wrap>
      <v-flex offset-sm1 sm10>
        <v-card id="card" class="elevation-12">
          <h1 class="mt-3 text-xs-center">Listado de Usuarios</h1>
          <div style="display:flex; justify-content:flex-end">
            <v-dialog v-model="dialog" max-width="500px">
              <v-btn dark slot="activator" color="purple darken-4">Añadir Usuario</v-btn>
              <v-card class="elevation-24">
                <v-card-title>
                  <span class="headline">{{ title }}</span>
                </v-card-title>

                <v-card-text>
                  <v-form ref="form" lazy-validation>
                    <v-text-field
                      v-model="form.email"
                      label="Email"
                      name="email"
                      type="email"
                      :rules="[rules.required,rules.email]"
                      :error-messages="errormessages"
                    ></v-text-field>
                    <v-text-field
                      v-model.trim="form.password"
                      label="Contraseña"
                      name="password"
                      counter="100"
                      :rules="form.id === null ? [rules.required,rules.minlength] : []"
                      :append-icon="showpass ? 'visibility_off' : 'visibility'"
                      @click:append="showpass = !showpass"
                      :type="showpass ? 'text' : 'password'"
                    ></v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    :loading="email_loading"
                    color="purple darken-4"
                    dark
                    @click="submit"
                  >{{ buttonSubmit }}</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <v-card-text>
            <v-data-table
              :loading="users.loading"
              :headers="users.headers"
              :items="users.content"
              rows-per-page-text="Resultados por pagina"
              no-data-text="No hay usuarios registrados"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.email }}</td>
                <td>
                  <v-icon small class="mr-2" @click="edit(props.item)">edit</v-icon>
                  <v-icon small @click="delItem(props.item)">delete</v-icon>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-content>
</template>
<script type="text/javascript">
import { dom } from "@fortawesome/fontawesome-svg-core";

dom.watch();

import { getLocalUser } from "../../helpers/auth.js";
import swal from "sweetalert2";

export default {
  name: "Usuario",
  data() {
    return {
      users: {
        headers: [
          {
            value: "id",
            text: "Id",
            align: "left",
            sortable: true
          },
          {
            value: "email",
            text: "Email",
            align: "left",
            sortable: true
          },
          {
            value: "actions",
            text: "Acciones",
            align: "left",
            sortable: false
          }
        ],
        content: [],
        loading: false
      },
      form: {
        id: null,
        email: "",
        password: ""
      },
      errormessages: [],
      email_loading: false,
      dialog: false,
      rules: {
        required: value => !!value || "Este campo es requerido.",
        minlength: value =>
          (value && value.length >= 8) ||
          "La contraseña debe contener al menos 8 caracteres.",
        email: value =>
          /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
            String(value).toLowerCase()
          ) || "Ingrese un email válido."
      },
      showpass: false
    };
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  methods: {
    edit(item, index) {
      axios.get(`/api/users/${item.id}`).then(response => {
        this.form = response.data.user;
        this.dialog = true;
      });
    },
    addNew() {
      this.dialog = true;
    },
    delItem(item) {
      let autodestroy = getLocalUser().id == item.id;
      swal({
        title: "¿Está seguro?",
        text: autodestroy
          ? "¿Deseas eliminar tu usuario? de hacerlo tu sesión será cerrada"
          : "¿Desea eliminar este usuario?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          axios.delete(`/api/users/${item.id}`).then(response => {
            if (response.status == 204) {
              swal(
                "¡Eliminado!",
                "El usuario ha sido eliminado correctamente.",
                "success"
              ).then(() => {
                if (autodestroy) {
                  this.$store.commit("logout");
                  this.$router.push("/admin");
                } else {
                  this.load();
                }
              });
            } else {
              swal(
                "¡Ha ocurrido un error!",
                `HTTP STATUS: ${response.status}`,
                "error"
              );
            }
          });
        } else {
          swal("¡Cancelado!", "El usuario no fue eliminado.", "success");
        }
      });
    },
    close() {
      setTimeout(() => {
        this.$refs.form.reset();
        this.form = {
          id: null,
          email: "",
          password: ""
        };
      }, 300);
    },
    load() {
      this.users.loading = true;
      axios.get("/api/users/").then(response => {
        let users = response.data.users;
        this.users.content = users;
        this.users.loading = false;
      });
    },
    submit() {
      this.email_loading = true;
      if (this.$refs.form.validate()) {
        axios
          .post(`/api/user/available`, {
            email: this.form.email,
            id: this.form.id
          })
          .then(response => {
            if (response.data.available) {
              this.errormessages = [];
              if (this.form.id === null) {
                axios
                  .post("/api/users", {
                    email: this.form.email,
                    password: this.form.password
                  })
                  .then(response => {
                    if (response.status == 201) {
                      swal({
                        type: "success",
                        title: "Bien!",
                        text: "Ha logrado registrar el usuario correctamente"
                      }).then(result => {
                        this.dialog = false;
                        this.email_loading = false;
                        this.load();
                      });
                    } else {
                      this.email_loading = false;
                      swal({
                        type: "error",
                        title: "Oops...",
                        text:
                          "Algo malo ocurrió... Respuesta http: " +
                          response.status
                      });
                    }
                  });
              } else {
                axios
                  .put(`/api/users/${this.form.id}`, {
                    email: this.form.email,
                    password: this.form.password,
                    password_confirmation: this.form.password_confirmation
                  })
                  .then(response => {
                    if (response.status == 200) {
                      swal({
                        type: "success",
                        title: "Bien!",
                        text:
                          "Ha logrado actualizar el usuario seleccionado correctamente"
                      }).then(result => {
                        this.dialog = false;
                        this.email_loading = false;
                        this.load();
                      });
                    } else {
                      this.email_loading = false;
                      swal({
                        type: "error",
                        title: "Oops...",
                        text:
                          "Algo malo ocurrió... Respuesta http: " +
                          response.status
                      });
                    }
                  });
              }
            } else {
              this.errormessages.push(
                "El email seleccionado ya está registrado"
              );
              this.email_loading = false;
            }
          });
      } else {
        this.email_loading = false;
      }
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.currentUser;
    },
    buttonSubmit() {
      return this.form.id === null ? "Crear" : "Actualizar";
    },
    title() {
      return this.form.id === null
        ? "Añadir nuevo usuario"
        : `Editar usuario #${this.form.id}`;
    }
  },
  created() {
    this.load();
  }
};
</script>
<style>
#users-container {
  margin-top: 3rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#card {
  padding: 1em;
}

#addUser {
  margin-top: 0.5em;
  margin-bottom: 3rem;
  align-self: flex-end;
}
</style>
