<template>
  <div id="message">
    <p>El pago no ha sido realizado.</p>
  </div>
</template>

<style scoped>
body {
  background-color: white !important;
}
div#message {
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#message p {
  font-family: "Life Savers", cursive;
}
</style>

<script type="text/javascript">
export default {
  name: "payment-status",
  props: ["payment", "token"],
  data() {
    return {
      buffer: {
        client_name: "",
        client_lastname: "",
        appointment_date: "",
        appointment_turn: null,
        service_id: null
      },
      done: false
    };
  },
  created() {
    if (this.payment != undefined) {
      this.$router.push("payment_success");
    }
  }
};
</script>
