<template>
  <div id="message">
    <transition name="fade" mode="out-in">
      <span key="loading" v-if="!done">El pago está siendo realizado
        <spinner></spinner>
      </span>
      <div style="text-align: center" v-else key="done">
        <p class="message">
          El pago ha sido realizado con exito bajo el número
          <strong>#{{ this.payment_data.flowOrder }}</strong> por
          <strong>{{ payment_data.amount}} {{payment_data.currency}}</strong> a través de
          <strong>{{ payment_data.paymentData.media }}</strong>
        </p>
        <p class="message" v-if="buffer.appointment_date && buffer.appointment_turn">
          El servicio está pautado para el
          <strong>{{ buffer.appointment_date | formatDate }}</strong> a las
          <strong>{{ buffer.appointment_turn | turnToTime}}</strong> (Hora de Santiago de Chile)
        </p>
        <p class="message">
          El servicio está a nombre del cliente
          <strong>{{ buffer.client_name }} {{ buffer.client_lastname | orEmpty }}</strong>
        </p>
      </div>
    </transition>
  </div>
</template>

<style scoped>
div#message {
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#message span,
body {
  background-color: white !important;
}
.message {
  font-family: "Life Savers", cursive;
}

div#message span div {
  margin: 0 auto;
}
</style>

<script type="text/javascript">
import Spinner from "vue-spinner-component/src/Spinner.vue";
export default {
  name: "payment-status",
  props: ["payment"],
  components: {
    Spinner
  },
  data() {
    return {
      buffer: {
        client_name: "",
        client_lastname: "",
        tel: "",
        client_email: "",
        appointment_date: "",
        appointment_turn: null,
        service_id: null,
        flowOrder: null
      },
      done: false,
      payment_data: {}
    };
  },
  filters: {
    formatDate(value) {
      if (!value) return "";
      return value
        .split("-")
        .reverse()
        .join("/");
    },
    turnToTime(value) {
      if (!value) return "";
      if (isNaN(value)) return "";
      value = parseInt(value);
      return `${Math.floor(value / 2)}:${value % 2 == 0 ? "00" : "30"}`;
    },
    orEmpty(value) {
      if (!value) return "";
      return value;
    }
  },
  mounted() {
    axios
      .get("/api/buffer/" + this.payment_data.commerceOrder)
      .then(response => {
        let resp = response.data.buffer;
        this.buffer.client_name = resp.name;
        this.buffer.client_lastname = resp.lastname;
        this.buffer.client_email = resp.email;
        this.buffer.tel = resp.tel;
        this.buffer.appointment_date = resp.appointment_date;
        this.buffer.appointment_turn = resp.appointment_turn;
        this.buffer.service_id = resp.service_id;
        this.buffer.flowOrder = this.payment_data.flowOrder;

        axios
          .post("/api/appointment/create", this.buffer)
          .then(appointment => {
            axios
              .post("/api/appointment/onCreate", {
                appointment_id: appointment.data.appointment.id
              })
              .then(emailResponse => {
                console.log(emailResponse);
              })
              .catch(error => console.log(error));
            axios
              .delete(`/api/buffer/${this.payment_data.commerceOrder}`)
              .then(del => {
                console.log(del);
                this.done = true;
              })
              .catch(error => console.log(error));
          })
          .catch(error => console.log(error));
      })
      .catch(error => console.log(error));
  },
  created() {
    if (this.payment) {
      this.payment_data = JSON.parse(this.payment);
    } else {
      this.$router.push("/");
    }
  }
};
</script>
